@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext);
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */

button,
input,
select,
textarea {
  font: inherit;
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */

button,
input, /* 1 */
select { /* 2 */
  overflow: visible;
}

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea { /* 1 */
  margin: 0;
}

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Change the cursor in all browsers (opinionated).
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */

[disabled] {
  cursor: default;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
}

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
body {
  background-color: #fff;
  color: #555;
  font: 300 20px "Open Sans", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
h6 {
  font-size: 16px;
  font-weight: 600;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
p,
li {
  margin: 35px 0;
}
.header {
  overflow: hidden;
  background: #0e3b5a url(../img/bg-header.png) no-repeat 50% 50% / cover;
  color: #fff;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header__navbar {
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.header__phone:hover .header__callback {
  text-decoration: none;
}
.header__callback {
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
}
.header__title {
  margin-top: 65px;
  margin-bottom: 85px;
  text-align: center;
  font-size: 52px;
}
.header__title > small {
  display: block;
  font-size: 29px;
}
.logo {
  width: 187.5px;
  height: 40px;
  background: url(../img/logo.svg) no-repeat 50%/100%;
  font-size: 0;
}
.main-menu__item {
  display: inline-block;
  padding: 10px 15px 25px;
  font-size: 14px;
  transition: box-shadow 0.5s;
}
.main-menu__item:hover,
.main-menu__item--active {
  box-shadow: inset 0 -5px 0 0 rgba(33, 123, 184, 0.7);
}
.earlier {
  position: relative;
  padding: 180px 160px 100px 400px;
  background: url(../img/bg-earlier-tile.png) no-repeat 50% 50px/100% auto, url(../img/bg-earlier-border.png) repeat-x 50% 4px/12px 2px, url(../img/bg-earlier.jpg) no-repeat 50% 120px/80%;
}
.earlier::before {
  position: absolute;
  top: 185px;
  left: 60px;
  display: block;
  width: 275px;
  height: 275px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #8474c1 url(../img/start.png) no-repeat 50% 50%/275px 275px;
  box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.2);
  content: " ";
}
.price {
  padding-top: 35px;
  border-top: 1px solid #f0f2f4;
  background: #f7f9fa linear-gradient(to bottom, #f6f8fa 0%, #fff 50%, #fff 100%);
}
.price article,
.price aside {
  float: left;
}
.price article {
  width: 60%;
}
.price__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.price__title {
  margin-bottom: 80px;
  text-align: center;
}
.price__title > span {
  padding: 0 10px 15px;
  border-bottom: 2px dotted rgba(231, 226, 199, 0.7);
}
.price__list li::before {
  display: inline-block;
  margin: -2px 8px 0 2px;
  color: #338bc3;
  content: "●";
  vertical-align: top;
  font-size: 21px;
}
.price__feature {
  width: 180px;
  height: 180px;
  padding: 40px;
  text-align: center;
  border-radius: 50%;
  border: 2px dashed #ebebeb;
}
.included {
  position: relative;
  clear: both;
  padding-top: 35px;
  background: #f7f9fa linear-gradient(to bottom, #f6f8fa 0%, #fff 50%, #fff 100%);
}
.included__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.included__title {
  margin-bottom: 80px;
  text-align: center;
}
.included__title > span {
  padding: 0 10px 15px;
  border-bottom: 2px dotted rgba(231, 226, 199, 0.7);
}
.included__features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.included__feature {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 35px;
  font-size: 14px;
  flex: 0 0 45%;
}
.included__feature::before {
  top: 20px;
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  content: " ";
}
.included__feature:nth-child(2n+1) {
  padding-right: 100px;
  text-align: right;
}
.included__feature:nth-child(2n+1)::before {
  right: -10px;
}
.included__feature:nth-child(2n) {
  padding-left: 100px;
}
.included__feature:nth-child(2n)::before {
  left: -10px;
}
.included__feature h6,
.included__feature p {
  margin: 10px 0;
}
.context {
  padding-bottom: 150px;
  border-bottom: 1px solid #f0f2f4;
  background: #f7f9fa linear-gradient(to top, #f6f8fa 0%, #fff 50%, #fff 100%);
}
.context__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.context__title {
  margin-bottom: 80px;
  text-align: center;
  margin-bottom: 35px;
}
.context__title > span {
  padding: 0 10px 15px;
  border-bottom: 2px dotted rgba(231, 226, 199, 0.7);
}
.context__title-second {
  text-align: center;
  font-size: 28px;
}
.context__text,
.context__features {
  margin-right: auto;
  margin-left: auto;
  width: 66%;
}
.context__text {
  text-align: center;
}
.context__features {
  padding: 60px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.08);
}
.metrika__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.metrika__wrap::after {
  content: " ";
  display: table;
  clear: both;
}
.metrika__title {
  margin-bottom: 80px;
  text-align: center;
  margin-bottom: 35px;
}
.metrika__title > span {
  padding: 0 10px 15px;
  border-bottom: 2px dotted rgba(231, 226, 199, 0.7);
}
.metrika__text {
  float: left;
  padding-right: 2%;
  width: 48%;
  font-size: 16px;
}
.metrika__show {
  position: relative;
  padding-top: 100px;
  text-align: center;
  font-size: 18px;
}
.metrika__show::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 144px;
  height: 144px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #fff url(../img/i-metrika.png) no-repeat 50% 50%/80%;
  box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.1);
  content: " ";
  transform: translate(-50%, -50%);
}
.footer {
  background: #232d57 url(../img/bg-footer.jpg) no-repeat 50% 50% / cover;
  color: #fff;
}
.footer__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.footer__nav {
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}
.footer__nav h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer__nav h5 {
  font-size: 14px;
}
.footer__nav li {
  margin: 0;
  font-size: 13px;
}
.footer__nav li li {
  margin: 5px 0;
}
.footer__nav a {
  color: #c3c3c3;
  text-decoration: none;
}
.footer__nav a:hover {
  text-decoration: underline;
}
.footer__p {
  color: #d2b9de;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer__nav-item {
  display: flex;
  justify-content: space-between;
}
.footer__call-us {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}
.footer__call-us-title {
  margin-bottom: 60px;
  font-size: 22px;
}
.footer__submit {
  margin: 20px 0;
}
.footer__navbar {
  background-color: #fff;
  color: #393939;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer__navbar a {
  color: #393939;
}
.footer__navbar a:hover {
  text-decoration: none;
}
.footer__navbar p,
.footer__navbar li {
  margin: 0;
}
.footer__navbar ul {
  display: flex;
  justify-content: space-between;
}
.footer__navbar-contacts {
  font-size: 17px;
}
.form__text {
  padding: 12px 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 17px;
  transition: background-color 0.1s cubic-bezier(0.42, 0, 0.58, 1);
}
.form__text:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.btn {
  position: relative;
  padding: 10px 15px 14px;
  border: none;
  border-radius: 5px;
  background-color: #ff304f;
  box-shadow: 0 3px 0 0 #9d0c22;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  transition: top 0.05s cubic-bezier(0.42, 0, 0.58, 1);
}
.btn:hover {
  background-color: #EB3051;
  transition: none;
}
.btn:active {
  top: 2px;
  background-color: #ff304f;
  box-shadow: 0 1px 0 0 #890C22;
  transform-origin: 50% 100% 0;
}
.adwords-callback {
  padding: 65px 60px;
  color: #fff;
  background: #0e3b5a url('../img/bg-adwords-feedback.png') no-repeat 50% 50%/100% auto;
}
.adwords-callback h2 {
  margin-top: 0;
  margin-bottom: 24px;
}
.adwords-callback::after {
  display: table;
  clear: both;
  content: '';
}
.adwords-callback__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.adwords-callback__left {
  float: left;
  min-width: 450px;
  max-width: 527px;
}
.adwords-callback__form {
  float: right;
  box-sizing: border-box;
  min-width: 233px;
  max-width: 392px;
  padding-right: 27px;
}
.adwords-callback__form-expert-analisys {
  font-weight: 700;
}
.adwords-callback__form input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 11px;
  padding: 20px 25px 19px;
  color: #fff;
  border: 1px solid #306283;
  border: 1px solid rgba(255, 255, 255, 0.21);
  border-radius: 5px;
  background-color: #13476b;
  background-color: rgba(0, 0, 0, 0.21);
  font-size: 15px;
  line-height: 19px;
}
input.adwords-callback__form-button {
  width: 100%;
  border: none;
  background-color: #1b92f0;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.27), 0 3px rgba(0, 0, 0, 0.21);
  font-weight: 700;
}
input.adwords-callback__form-button:hover {
  background-color: #005aa2;
}
input.adwords-callback__form-button:active {
  color: #246d9e;
  background-color: #003d6d;
  box-shadow: inset 0 -1px rgba(27, 146, 240, 0.21), 0 -3px rgba(0, 0, 0, 0.27);
}
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
span.dotted-underline {
  padding-right: 27px;
  padding-bottom: 16px;
  padding-left: 27px;
  background: url(../img/adwords-beige-dot.png) repeat-x 0 95%;
}
.adwords-calmness {
  padding: 65px 12px 90px;
  color: #000;
  background: url('../img/calmness-light-bg.png') 50% 0 no-repeat;
}
.adwords-calmness__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.adwords-calmness h2 {
  margin-top: 0;
  margin-bottom: 54px;
  text-align: center;
}
.adwords-calmness::after {
  display: table;
  clear: both;
  content: '';
}
.adwords-calmness__feature {
  position: relative;
  box-sizing: border-box;
  max-width: 588px;
  min-height: 114px;
  margin-bottom: 58px;
}
.adwords-calmness__feature-title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 34px;
}
.adwords-calmness__feature-text {
  margin: 0;
  font-size: 14px;
}
.adwords-calmness__feature::after {
  position: absolute;
  top: 5px;
  width: 96px;
  height: 96px;
  content: '';
  border: 1px solid #e1e1e1;
  border: 1px solid rgba(220, 225, 170, 0.85);
  border-radius: 50%;
  background: url(../img/calmness-sprt.png) no-repeat 0 0;
}
.adwords-calmness__feature-growth::after {
  background-position: 0 0;
}
.adwords-calmness__feature-strategy::after {
  background-position: 0 -96px;
}
.adwords-calmness__feature-reporting::after {
  background-position: 0 -192px;
}
.adwords-calmness__feature-partnership::after {
  background-position: -96px 0;
}
.adwords-calmness__feature-connect::after {
  background-position: -96px -96px;
}
.adwords-calmness__feature-training::after {
  background-position: -96px -192px;
}
.adwords-calmness__features-left {
  float: left;
  text-align: right;
}
.adwords-calmness__features-left-item {
  padding-right: 135px;
  padding-left: 40px;
}
.adwords-calmness__features-left-item::after {
  right: 0;
}
.adwords-calmness__features-right {
  float: right;
}
.adwords-calmness__features-right-item {
  padding-right: 40px;
  padding-left: 135px;
}
.adwords-calmness__features-right-item::after {
  left: 0;
}
.adwords-calmness__promises {
  margin-top: -260px;
  margin-bottom: -112px;
  padding-top: 210px;
  padding-bottom: 112px;
  background: linear-gradient(to bottom, transparent 0, #fff 1%, #cdcdcd 57.42424242%, #b4b4b4 42.42424242%, #fff 99%, transparent 100%);
}
.adwords-calmness__promises-inside {
  position: relative;
  box-sizing: border-box;
  min-height: 341px;
  margin: 0 57px;
  padding: 50px 15px 50px 65px;
  background: #fff;
  font-size: 12px;
}
.adwords-calmness__promises-inside::before,
.adwords-calmness__promises-inside::after {
  position: absolute;
  top: -3px;
  bottom: -3px;
  width: 58px;
  min-height: 341px;
  content: '';
  background: url('../img/promises-left-brace.png') no-repeat 2px 50%;
  background-size: cover;
}
.adwords-calmness__promises-inside::before {
  left: -58px;
}
.adwords-calmness__promises-inside::after {
  right: -58px;
  transform: rotate(180deg);
}
.adwords-calmness__promises-left {
  float: left;
  max-width: 392px;
}
.adwords-calmness__promises-left-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}
.adwords-calmness__promises-left-text {
  max-width: 392px;
  margin: 0px;
  font-size: 16px;
  line-height: 35px;
}
.adwords-calmness__promises-right {
  float: right;
  max-width: 480px;
  padding-left: 37px;
  font-size: 16px;
}
.adwords-calmness__promises-right-title {
  margin: 0;
  font-size: 16px;
}
.adwords-calmness__promises-right-ps {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
.adwords-calmness__promises-list {
  margin: 10px 0;
}
.adwords-calmness__promises-list-item {
  position: relative;
  margin: 10px 0;
  padding-left: 37px;
  line-height: 30px;
}
.adwords-calmness__promises-list-item::before {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 11px;
  height: 11px;
  content: '';
  border-radius: 50%;
  background: #ff2f4f;
}
.adwords-calmness__confidence {
  background: url('../img/confidence-bg-dots-lines.png') 33% 99%;
}
.adwords-calmness__confidence .wrap {
  padding: 60px;
}
.adwords-calmness__confidence-title {
  margin: 0 0 70px;
  text-align: center;
  font-size: 30px;
}
.adwords-calmness__confidence-item {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 37px;
  font-size: 15px;
  line-height: 26px;
}
.adwords-calmness__confidence-item::before {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
  background: #338bc3;
}
.adwords-calmness__confidence-left,
.adwords-calmness__confidence-right {
  max-width: 453px;
  float: left;
}
.adwords-calmness__confidence-left {
  margin-right: 9.58%;
}
.adwords-calmness__confidence-item:nth-of-type(1) {
  margin-bottom: 4.57%;
}
.adwords-calmness__confidence-item:nth-of-type(2) {
  margin-bottom: 6.93%;
}
.adwords-calmness__confidence-item:nth-of-type(3) {
  margin-bottom: 7.70%;
}
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.adwords-founder {
  position: relative;
  padding-top: 184px;
  padding-bottom: 130px;
  background: url('../img/founder-texture-top-x.png') 0 0 repeat-x, linear-gradient(to bottom, transparent 85%, #fff 100%), url('../img/founder-texture-bg.png') 0 0 repeat;
}
.adwords-founder::before {
  position: absolute;
  top: -37px;
  left: 50%;
  width: 169px;
  height: 126px;
  content: '';
  transform: translateX(-50%);
  background: url('../img/founder-top-logo.png') 50% 50% no-repeat;
}
.adwords-founder__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.adwords-founder__head-image {
  float: left;
}
.adwords-founder__head-texts {
  float: left;
  max-width: 625px;
  margin-left: 61px;
}
.adwords-founder__head-pre {
  margin: 24px 0;
  font-size: 16px;
}
.adwords-founder__head-title {
  margin-top: 21px;
  margin-bottom: 12px;
  font-size: 43px;
  font-weight: 500;
}
.adwords-founder__head-subtitle {
  margin: 0;
  margin-bottom: 43px;
}
.adwords-founder__achivements h3 {
  text-align: center;
}
.adwords-founder__achivements-left {
  float: left;
  box-sizing: border-box;
  max-width: 392px;
  margin-right: 61px;
  padding-left: 196px;
}
.adwords-founder__achivements-left-item {
  margin-bottom: 44px;
}
.adwords-founder__achivements-left-item-digit {
  margin-bottom: 3px;
  border-bottom: 3px solid #338bc3;
  font-size: 42px;
  font-weight: 500;
}
.adwords-founder__achivements-left-item .red-line {
  border-color: #ff2f4f;
}
.adwords-founder__achivements-left-item .light-blue-line {
  border-color: #8fc6e9;
}
.adwords-founder__achivements-left-item-text {
  margin-top: 3px;
}
.adwords-founder__achivements-right {
  float: left;
  max-width: 625px;
}
.adwords-founder__achivements-right-item {
  position: relative;
  margin-top: 0;
  padding-left: 37px;
}
.adwords-founder__achivements-right-item::before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
  background: #338bc3;
}
.adwords-founder__reviews {
  margin-bottom: 41px;
}
.adwords-founder__reviews-title {
  text-align: center;
}
.adwords-founder__reviews-item {
  position: relative;
  box-sizing: border-box;
  max-width: 955px;
  margin: 10px auto;
  border: 1px solid #e7e7e7;
  border-radius: 23px;
  background: #fff;
}
.adwords-founder__reviews-item-pagination-prev,
.adwords-founder__reviews-item-pagination-next {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  transform: translateY(-50%);
  text-align: center;
  color: #d0d0d0;
  border: 1px solid #ececec;
  border-radius: 50%;
  background: url('../img/reviews-sprt.png') no-repeat 0 0;
  font-size: 0px;
  line-height: 52px;
}
.adwords-founder__reviews-item-pagination-prev:hover,
.adwords-founder__reviews-item-pagination-next:hover {
  border-color: #338bc3;
}
.adwords-founder__reviews-item-pagination-prev:active,
.adwords-founder__reviews-item-pagination-next:active {
  border-color: #b7e0ff;
}
.adwords-founder__reviews-item-pagination-prev {
  left: -87px;
}
.adwords-founder__reviews-item-pagination-prev:hover {
  background-position: 0 -50px;
}
.adwords-founder__reviews-item-pagination-prev:active {
  background-position: 0 -100px;
}
.adwords-founder__reviews-item-pagination-next {
  right: -87px;
  background-position: -100px 0;
}
.adwords-founder__reviews-item-pagination-next:hover {
  background-position: -100px -50px;
}
.adwords-founder__reviews-item-pagination-next:active {
  background-position: -100px -100px;
}
.adwords-founder__reviews-item-image {
  float: left;
  box-sizing: border-box;
  min-width: 225px;
  max-width: 294px;
  padding-top: 49px;
  padding-right: 2.83%;
  padding-left: 7.75%;
}
.adwords-founder__reviews-item-image img {
  border-radius: 50%;
}
.adwords-founder__reviews-item-image::before {
  position: absolute;
  top: 38px;
  left: 3.77%;
  width: 33px;
  height: 28px;
  content: '';
  background: url('../img/reviews-sprt.png') no-repeat -59px -11px;
}
.adwords-founder__reviews-item-texts {
  float: right;
  max-width: 610px;
  margin-right: 5.235%;
  padding-top: 40px;
  padding-left: 24px;
}
.adwords-founder__reviews-item-texts-title,
.adwords-founder__reviews-item-texts-text,
.adwords-founder__reviews-item-texts-author {
  margin: 0;
}
.adwords-founder__reviews-item-texts-title,
.adwords-founder__reviews-item-texts-author {
  font-weight: 600;
}
.adwords-founder__reviews-item-texts-title {
  margin-bottom: 12px;
}
.adwords-founder__reviews-item-texts-text {
  margin-bottom: 26px;
}
.adwords-founder__reviews-item-slider {
  display: block;
  clear: both;
  width: 100%;
  padding: 22px 0;
  text-align: center;
  font-size: 0px;
}
.adwords-founder__reviews-item-slider-radio {
  display: none;
}
.adwords-founder__reviews-item-slider-point {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 3px;
  cursor: pointer;
  border-radius: 50%;
  background: #f2f2f2;
}
#review-1:checked ~ .adwords-founder__reviews-item-slider-point[for='review-1'] {
  background: #368cc3;
}
#review-2:checked ~ .adwords-founder__reviews-item-slider-point[for='review-2'] {
  background: #368cc3;
}
#review-3:checked ~ .adwords-founder__reviews-item-slider-point[for='review-3'] {
  background: #368cc3;
}
#review-4:checked ~ .adwords-founder__reviews-item-slider-point[for='review-4'] {
  background: #368cc3;
}
.adwords-founder__videos {
  margin-top: 70px;
}
.adwords-founder__videos-title {
  text-align: center;
}
.adwords-founder__videos-block-item {
  float: left;
  width: 328px;
  margin: auto 2%;
}
.adwords-founder__videos-block-item-text {
  margin: 0;
  text-align: center;
}
.adwords-founder__videos-block-item:nth-of-type(2n) {
  margin: auto 5%;
}
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.adwords-puzzle {
  padding-top: 145px;
  background: url('../img/puzzles/puzzle-top-bg.png') no-repeat 50% 0/100% auto;
}
.adwords-puzzle__wrap {
  padding-left: 8.16666667%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.adwords-puzzle__title {
  max-width: 588px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.adwords-puzzle__header-logo {
  float: left;
  box-sizing: border-box;
  max-width: 490px;
  padding-right: 6.17%;
  padding-left: 16.33%;
}
.adwords-puzzle__header-right {
  float: right;
  box-sizing: border-box;
  max-width: 710px;
  padding: 30px 24px;
}
.adwords-puzzle__header-feature {
  position: relative;
  padding-left: 37px;
}
.adwords-puzzle__header-feature::before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 11px;
  height: 11px;
  content: '';
  border-radius: 50%;
  background: #ff2f4f;
}
.adwords-puzzle__specialists-box {
  float: left;
  box-sizing: border-box;
  width: 39.17%;
  min-width: 400px;
  min-height: 465px;
  margin: 21px;
  border: 1px solid #c4c4c4;
  border: 1px solid rgba(196, 196, 196, 0.85);
  border-radius: 20px;
  box-shadow: 0 9px rgba(0, 0, 0, 0.15);
}
.adwords-puzzle__specialists-description {
  float: left;
}
.adwords-puzzle__spec {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 50%;
  min-height: 233px;
  padding-top: 163px;
  text-align: center;
}
.adwords-puzzle__spec::after {
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: url('../img/puzzles/left-top.png') no-repeat 50% 50%;
}
.adwords-puzzle__spec-image {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.adwords-puzzle__spec-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.adwords-puzzle__spec-text {
  margin: 0;
  font-size: 10px;
  line-height: 13px;
}
.adwords-puzzle__spec:nth-of-type(1)::after {
  z-index: -1;
  right: -41px;
  bottom: -43px;
  background: url('../img/puzzles/left-top.png');
}
.adwords-puzzle__spec:nth-of-type(2)::after {
  z-index: -1;
  bottom: -43px;
  background: url('../img/puzzles/right-top.png');
}
.adwords-puzzle__spec:nth-of-type(3)::after {
  background: url('../img/puzzles/left-bottom.png');
}
.adwords-puzzle__spec:nth-of-type(4)::after {
  left: -41px;
  background: url('../img/puzzles/right-bottom.png');
}
.adwords-puzzle__spec:nth-of-type(3),
.adwords-puzzle__spec:nth-of-type(4) {
  padding-top: 173px;
}
.adwords-puzzle__spec:nth-of-type(3) .adwords-puzzle__spec-image,
.adwords-puzzle__spec:nth-of-type(4) .adwords-puzzle__spec-image {
  bottom: 60px;
}
.particles-js-canvas-el {
  position: absolute;
  top: 0;
}
