/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */

button,
input,
select,
textarea {
  font: inherit;
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */

button,
input, /* 1 */
select { /* 2 */
  overflow: visible;
}

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea { /* 1 */
  margin: 0;
}

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Change the cursor in all browsers (opinionated).
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */

[disabled] {
  cursor: default;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
}

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
body {
  background-color: #fff;
  color: #555;
  font: 300 20px "Open Sans", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
h6 {
  font-size: 16px;
  font-weight: 600;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
p,
li {
  margin: 35px 0;
}
.header {
  overflow: hidden;
  background: #0e3b5a url(../img/bg-header.png) no-repeat 50% 50% / cover;
  color: #fff;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header__navbar {
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.header__phone:hover .header__callback {
  text-decoration: none;
}
.header__callback {
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
}
.header__title {
  margin-top: 65px;
  margin-bottom: 85px;
  text-align: center;
  font-size: 52px;
}
.header__title > small {
  display: block;
  font-size: 29px;
}
.logo {
  width: 187.5px;
  height: 40px;
  background: url(../img/logo.svg) no-repeat 50%/100%;
  font-size: 0;
}
.main-menu__item {
  display: inline-block;
  padding: 10px 15px 25px;
  font-size: 14px;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
.main-menu__item:hover,
.main-menu__item--active {
  box-shadow: inset 0 -5px 0 0 rgba(33, 123, 184, 0.7);
}
.earlier {
  position: relative;
  padding: 180px 160px 100px 400px;
  background: url(../img/bg-earlier-tile.png) no-repeat 50% 50px/100% auto, url(../img/bg-earlier-border.png) repeat-x 50% 4px/12px 2px, url(../img/bg-earlier.jpg) no-repeat 50% 120px/80%;
}
.earlier::before {
  position: absolute;
  top: 185px;
  left: 60px;
  display: block;
  width: 275px;
  height: 275px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #8474c1 url(../img/start.png) no-repeat 50% 50%/275px 275px;
  box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.2);
  content: " ";
}
.price {
  padding-top: 35px;
  border-top: 1px solid #f0f2f4;
  background: #f7f9fa -webkit-linear-gradient(top, #f6f8fa 0%, #ffffff 50%, #ffffff 100%);
  background: #f7f9fa linear-gradient(to bottom, #f6f8fa 0%, #ffffff 50%, #ffffff 100%);
}
.price article,
.price aside {
  float: left;
}
.price article {
  width: 60%;
}
.price__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.price__title {
  margin-bottom: 80px;
  text-align: center;
}
.price__title > span {
  padding: 0 10px 15px;
  border-bottom: 2px dotted rgba(231, 226, 199, 0.7);
}
.price__list li::before {
  display: inline-block;
  margin: -2px 8px 0 2px;
  color: #338bc3;
  content: "â—";
  vertical-align: top;
  font-size: 21px;
}
.price__feature {
  width: 180px;
  height: 180px;
  padding: 40px;
  text-align: center;
  border-radius: 50%;
  border: 2px dashed #ebebeb;
}
.included {
  position: relative;
  clear: both;
  padding-top: 35px;
  background: #f7f9fa -webkit-linear-gradient(top, #f6f8fa 0%, #ffffff 50%, #ffffff 100%);
  background: #f7f9fa linear-gradient(to bottom, #f6f8fa 0%, #ffffff 50%, #ffffff 100%);
}
.included__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.included__title {
  margin-bottom: 80px;
  text-align: center;
}
.included__title > span {
  padding: 0 10px 15px;
  border-bottom: 2px dotted rgba(231, 226, 199, 0.7);
}
.included__features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.included__feature {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 35px;
  font-size: 14px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}
.included__feature::before {
  top: 20px;
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  content: " ";
}
.included__feature:nth-child(2n+1) {
  padding-right: 100px;
  text-align: right;
}
.included__feature:nth-child(2n+1)::before {
  right: -10px;
}
.included__feature:nth-child(2n) {
  padding-left: 100px;
}
.included__feature:nth-child(2n)::before {
  left: -10px;
}
.included__feature h6,
.included__feature p {
  margin: 10px 0;
}
.context {
  padding-bottom: 150px;
  border-bottom: 1px solid #f0f2f4;
  background: #f7f9fa -webkit-linear-gradient(bottom, #f6f8fa 0%, #ffffff 50%, #ffffff 100%);
  background: #f7f9fa linear-gradient(to top, #f6f8fa 0%, #ffffff 50%, #ffffff 100%);
}
.context__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.context__title {
  margin-bottom: 80px;
  text-align: center;
  margin-bottom: 35px;
}
.context__title > span {
  padding: 0 10px 15px;
  border-bottom: 2px dotted rgba(231, 226, 199, 0.7);
}
.context__title-second {
  text-align: center;
  font-size: 28px;
}
.context__text,
.context__features {
  margin-right: auto;
  margin-left: auto;
  width: 66%;
}
.context__text {
  text-align: center;
}
.context__features {
  padding: 60px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.08);
}
.metrika__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.metrika__wrap::after {
  content: " ";
  display: table;
  clear: both;
}
.metrika__title {
  margin-bottom: 80px;
  text-align: center;
  margin-bottom: 35px;
}
.metrika__title > span {
  padding: 0 10px 15px;
  border-bottom: 2px dotted rgba(231, 226, 199, 0.7);
}
.metrika__text {
  float: left;
  padding-right: 2%;
  width: 48%;
  font-size: 16px;
}
.metrika__show {
  position: relative;
  padding-top: 100px;
  text-align: center;
  font-size: 18px;
}
.metrika__show::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 144px;
  height: 144px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff url(../img/i-metrika.png) no-repeat 50% 50%/80%;
  box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.1);
  content: " ";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.footer {
  background: #232d57 url(../img/bg-footer.jpg) no-repeat 50% 50% / cover;
  color: #fff;
}
.footer__wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}
.footer__nav {
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}
.footer__nav h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer__nav h5 {
  font-size: 14px;
}
.footer__nav li {
  margin: 0;
  font-size: 13px;
}
.footer__nav li li {
  margin: 5px 0;
}
.footer__nav a {
  color: #c3c3c3;
  text-decoration: none;
}
.footer__nav a:hover {
  text-decoration: underline;
}
.footer__p {
  color: #d2b9de;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer__nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__call-us {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}
.footer__call-us-title {
  margin-bottom: 60px;
  font-size: 22px;
}
.footer__submit {
  margin: 20px 0;
}
.footer__navbar {
  background-color: #fff;
  color: #393939;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer__navbar a {
  color: #393939;
}
.footer__navbar a:hover {
  text-decoration: none;
}
.footer__navbar p,
.footer__navbar li {
  margin: 0;
}
.footer__navbar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__navbar-contacts {
  font-size: 17px;
}
.form__text {
  padding: 12px 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 17px;
  -webkit-transition: background-color 0.1s cubic-bezier(0.42, 0, 0.58, 1);
  transition: background-color 0.1s cubic-bezier(0.42, 0, 0.58, 1);
}
.form__text:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.btn {
  position: relative;
  padding: 10px 15px 14px;
  border: none;
  border-radius: 5px;
  background-color: #ff304f;
  box-shadow: 0 3px 0 0 #9d0c22;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: top 0.05s cubic-bezier(0.42, 0, 0.58, 1);
  transition: top 0.05s cubic-bezier(0.42, 0, 0.58, 1);
}
.btn:hover {
  background-color: #EB3051;
  -webkit-transition: none;
  transition: none;
}
.btn:active {
  top: 2px;
  background-color: #ff304f;
  box-shadow: 0 1px 0 0 #890C22;
  -webkit-transform-origin: 50% 100% 0;
          transform-origin: 50% 100% 0;
}
.particles-js-canvas-el {
  position: absolute;
  top: 0;
}