.clients__case {
  padding: 60px 0;

  &--header {
    font-size: 34px;
    text-align: center;
  }

  &--article {
    display: flex;
    width: 970px;
    margin: 40px auto 0;
    flex-direction: row;
    justify-content: space-between;
  }

  &--screen {
    display: block;
    width: 276px;
    height: 230px;
    background-color: #ccc;
  }

  &--img {
    display: block;
    width: 100%;
  }

  .case-text {
    display: block;
    width: 660px;

    &__header {
      font-size: 24px;
    }

    &__descr {
      font-size: 18px;
    }

    &__link {
      display: block;
    }
  }
}
