.clients {
  background: #fff url(../img/calmness/calmness-light-bg.png) center no-repeat;

  &__wrapper {
    padding: 60px 0;
  }
  &__header {
    display: block;

    &--text {
      font-size: 34px;
      text-align: center;
      max-width: 732px;
      margin: 12px auto;
    }
  }

  &__text {
    padding: 0 60px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin: 0 auto;
    margin-top: 44px;
  }

  &__pics {

    &--header {
      font-size: 27px;
      margin-top: 108px;
      text-align: center;
    }

    &--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      &:first-of-type {
        margin-top: 75px;

        .clients__pics--block {
          margin-bottom: 50px;
          width: 160px;
          height: 110px;
        }
      }
    }

    &--block {
      width: 210px;
      height: 50px;
    }

    .block-1 {
      background: url("../img/portfolio/clients/1.png") no-repeat center;
    }

    .block-2 {
      background: url("../img/portfolio/clients/2.png") no-repeat center;
    }

    .block-3 {
      background: url("../img/portfolio/clients/3.png") no-repeat center;
    }

    .block-4 {
      background: url("../img/portfolio/clients/4.png") no-repeat center;
    }

    .block-5 {
      background: url("../img/portfolio/clients/5.png") no-repeat center;
    }

    .block-6 {
      background: url("../img/portfolio/clients/6.png") no-repeat center;
    }

    .block-7 {
      background: url("../img/portfolio/clients/7.png") no-repeat center;
    }

    .block-8 {
      background: url("../img/portfolio/clients/8.png") no-repeat center;
    }

    .block-9 {
      background: url("../img/portfolio/clients/9.png") no-repeat center;
    }

    .block-10 {
      background: url("../img/portfolio/clients/10.png") no-repeat center;
    }

    .block-11 {
      background: url("../img/portfolio/clients/11.png") no-repeat center;
    }
  }
}
