.clients__thnx {
  padding: 60px 0;
  background-image: url("../img/portfolio/thnx.jpg");

  &--header {
    display: block;
    text-align: center;
    font-size: 34px;
  }

  &--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }

  &--item {
    display: block;
    width: 242px;
    height: 342px;
    background-color: #ccc;
  }

  &--img {
    display: block;
    width: 100%;
  }
}
