extends ../template

block main-content
  .adwords-callback.clearfix
    .adwords-callback__wrap
      .adwords-callback__left
        h2 Настройка
        img(src='img/google-adwords-logo.png')
        p Премиум-услуги по настройке контекстной рекламы для малого бизнеса, работающего на рынке от 1 года.
        p Рекламный бюджет от 20 000 до 500 000 рублей.
      form(action='' method='').adwords-callback__form
        h3 Заполните заявку,
        p.adwords-callback__form-expert-analisys и получите экспертную оценку действующей кампании и разработку стратегии бесплатно!
        input.adwords-callback__form-name(type='text' placeholder='Ваше Имя')
        input.adwords-callback__form-phone(type='text' placeholder='Ваш номер телефона')
        input.adwords-callback__form-button(type='submit' value='Позвонить мне')
  .adwords-calmness.clearfix
    .adwords-calmness__wrap
      h2 
        span Работая с нами, Вы спите Спокойно!
      .adwords-calmness__features.clearfix
        .adwords-calmness__features-left
          .adwords-calmness__feature.adwords-calmness__features-left-item.adwords-calmness__feature-growth
            h3.adwords-calmness__feature-title Существенный приток 
              u клиентов
            p.adwords-calmness__feature-text В среднем ROI рекламной кампании наших заказчиков увеличивается в 3,7 раза. Благодаря снижению стоимости клика, повышению эффективности объявлений, отстройки от конкурентов и других факторов.
          .adwords-calmness__feature.adwords-calmness__features-left-item.adwords-calmness__feature-strategy
            h3.adwords-calmness__feature-title Долгосрочная рекламная стратегия 
            p.adwords-calmness__feature-text Чтобы вы всегда понимали, за счёт чего масштабироваться и как выжать максимум из рекламной кампании.
          .adwords-calmness__feature.adwords-calmness__features-left-item.adwords-calmness__feature-reporting
            h3.adwords-calmness__feature-title Полную прозрачность и подробную отчётность
            p.adwords-calmness__feature-text Вы круглосуточно в любой момент имеете доступ ко всей информации и регулярно получаете отчёты о ходе кампании.
        .adwords-calmness__features-right
          .adwords-calmness__feature.adwords-calmness__features-right-item.adwords-calmness__feature-partnership
            h3.adwords-calmness__feature-title Мы – официальные партнеры Google
            p.adwords-calmness__feature-text Промокоды на 3000 рублей, доступ к закрытым материалам и персональная поддержка позволяют сделать рекламные кампании ещё эффективнее.
          .adwords-calmness__feature.adwords-calmness__features-right-item.adwords-calmness__feature-connect
            h3.adwords-calmness__feature-title Оперативная связь с нашими специалистами
            p.adwords-calmness__feature-text Корректировки рекламной кампании вы сможете сделать всего в течение 1 часа.
          .adwords-calmness__feature.adwords-calmness__features-right-item.adwords-calmness__feature-training
            h3.adwords-calmness__feature-title Обучение для вас и ваших сотрудников
            p.adwords-calmness__feature-text Если вы решите вести рекламную кампанию самостоятельно, мы проконсультируем по базовым принципам её настройки и ведения.
      .adwords-calmness__promises.clearfix
        .adwords-calmness__promises-left
          h3.adwords-calmness__promises-left-title Отсутствие пустых обещаний!
          p Перед началом работы наши специалисты делают аудит вашей рекламной кампании и статистики. Только после этого вы получаете персональные гарантии, которые закрепляются в договоре, как и наша ответственность.
        .adwords-calmness__promises-right 
          p Только объективные гарантии, например:
          ul.adwords-calmness__promises-list
            li.adwords-calmness__promises-list-item Увеличение окупаемости ваших рекламных инвестиций.
            li.adwords-calmness__promises-list-item Снижение цены заявки.
            li.adwords-calmness__promises-list-item Приток целевых клиентов и отсеивание нецелевых.
            li.adwords-calmness__promises-list-item Рост прибыли без увеличения бюджета.
          p Количество кликов, просмотров страниц и прочие параметры мы отслеживаем и анализируем только через призму роста продаж.
      h2 
        span Вы можете быть уверены в результатах, потому что:
      .adwords-calmness__confidence
        ul.adwords-calmness__confidence-left
          li.adwords-calmness__confidence-left-item На погружение в ваш бизнес и разработку долгосрочной стратегии рекламной кампании выделяем 3–4 дня (а не 30 минут для галочки).
          li.adwords-calmness__confidence-left-item Ход кампании опирается на потребности вашего бизнеса и цели, а не только на внутренние показатели.
          li.adwords-calmness__confidence-left-item Нам это выгодно. Когда вы зарабатываете, то становитесь нашим постоянным клиентом. 
          li.adwords-calmness__confidence-left-item Ваш сайт будет разобран по косточкам. Десятки рекомендаций по увеличению конверсий!
        ul.adwords-calmness__confidence-right
          li.adwords-calmness__confidence-right-item Мы сделаем анализ целевой аудитории и конкурентов, предоставим вам идеи по разработке уникального торгового предложения.
          li.adwords-calmness__confidence-right-item Работа продолжается до получения вами прибыли. 
          li.adwords-calmness__confidence-right-item Мы знаем всё о AdWords и о том, что на него влияет.
          li.adwords-calmness__confidence-right-item 1 аналитик ведёт не более 10 проектов.
