extends ../template

block main-content
  .adwords-callback
    .adwords-callback__wrap
      .adwords-callback__left
        h2 Настройка
        h1.adwords-callback__left-logo Google AdWords
        p Премиум-услуги по настройке контекстной рекламы для малого бизнеса, работающего на рынке от 1 года.
        p Рекламный бюджет от 20 000 до 500 000 рублей.
      form(action='' method='').title-callback-form
        h3 Заполните заявку,
        p 
          b и получите экспертную оценку действующей кампании и разработку стратегии бесплатно!
        input.adwords-callback__form-name(type='text' placeholder='Ваше Имя')
        input.adwords-callback__form-phone(type='text' placeholder='Ваш номер телефона')
        input.adwords-callback__form-button(type='submit' value='Позвонить мне')
  .adwords-features
    .adwords-features-wrap;
    
    
