extends ../template

block main-content
  .adwords-callback.clearfix
    .adwords-callback__wrap
      .adwords-callback__left
        h2 Настройка
        img(src='img/google-adwords-logo.png')
        p Премиум-услуги по настройке контекстной рекламы для малого бизнеса, работающего на рынке от 1 года.
        p Рекламный бюджет от 20 000 до 500 000 рублей.
      form(action='' method='').adwords-callback__form
        h3 Заполните заявку,
        p.adwords-callback__form-expert-analisys и получите экспертную оценку действующей кампании и разработку стратегии бесплатно!
        input.adwords-callback__form-name(type='text' placeholder='Ваше Имя')
        input.adwords-callback__form-phone(type='text' placeholder='Ваш номер телефона')
        input.adwords-callback__form-button(type='submit' value='Позвонить мне')
  .adwords-calmness.clearfix
    .adwords-calmness__wrap
      h2 
        span.dotted-underline Работая с нами, Вы спите Спокойно!
      .adwords-calmness__features.clearfix
        .adwords-calmness__features-left
          .adwords-calmness__feature.adwords-calmness__features-left-item.adwords-calmness__feature-growth
            h3.adwords-calmness__feature-title Существенный приток 
              u клиентов
            p.adwords-calmness__feature-text В среднем ROI рекламной кампании наших заказчиков увеличивается в 3,7 раза. Благодаря снижению стоимости клика, повышению эффективности объявлений, отстройки от конкурентов и других факторов.
          .adwords-calmness__feature.adwords-calmness__features-left-item.adwords-calmness__feature-strategy
            h3.adwords-calmness__feature-title Долгосрочная рекламная стратегия 
            p.adwords-calmness__feature-text Чтобы вы всегда понимали, за счёт чего масштабироваться и как выжать максимум из рекламной кампании.
          .adwords-calmness__feature.adwords-calmness__features-left-item.adwords-calmness__feature-reporting
            h3.adwords-calmness__feature-title Полную прозрачность и подробную отчётность
            p.adwords-calmness__feature-text Вы круглосуточно в любой момент имеете доступ ко всей информации и регулярно получаете отчёты о ходе кампании.
        .adwords-calmness__features-right
          .adwords-calmness__feature.adwords-calmness__features-right-item.adwords-calmness__feature-partnership
            h3.adwords-calmness__feature-title Мы – официальные партнеры Google
            p.adwords-calmness__feature-text Промокоды на 3000 рублей, доступ к закрытым материалам и персональная поддержка позволяют сделать рекламные кампании ещё эффективнее.
          .adwords-calmness__feature.adwords-calmness__features-right-item.adwords-calmness__feature-connect
            h3.adwords-calmness__feature-title Оперативная связь с нашими специалистами
            p.adwords-calmness__feature-text Корректировки рекламной кампании вы сможете сделать всего в течение 1 часа.
          .adwords-calmness__feature.adwords-calmness__features-right-item.adwords-calmness__feature-training
            h3.adwords-calmness__feature-title Обучение для вас и ваших сотрудников
            p.adwords-calmness__feature-text Если вы решите вести рекламную кампанию самостоятельно, мы проконсультируем по базовым принципам её настройки и ведения.
  .adwords-calmness__promises.clearfix
    .wrap
      .adwords-calmness__promises-inside
        .clearfix
          .adwords-calmness__promises-left
            h3.adwords-calmness__promises-left-title Отсутствие пустых обещаний!
            p.adwords-calmness__promises-left-text Перед началом работы наши специалисты делают аудит вашей рекламной кампании и статистики. Только после этого вы получаете персональные гарантии, которые закрепляются в договоре, как и наша ответственность.
          .adwords-calmness__promises-right
            p.adwords-calmness__promises-right-title Только объективные гарантии, например:
            ul.adwords-calmness__promises-list
              li.adwords-calmness__promises-list-item Увеличение окупаемости ваших рекламных инвестиций.
              li.adwords-calmness__promises-list-item Снижение цены заявки.
              li.adwords-calmness__promises-list-item Приток целевых клиентов и отсеивание нецелевых.
              li.adwords-calmness__promises-list-item Рост прибыли без увеличения бюджета.
            p.adwords-calmness__promises-right-ps Количество кликов, просмотров страниц и прочие параметры мы отслеживаем и анализируем только через призму роста продаж.
  .adwords-calmness__confidence
    .wrap.clearfix
      h2.adwords-calmness__confidence-title
        span.dotted-underline Вы можете быть уверены в результатах, потому что:
      ul.adwords-calmness__confidence-left
        li.adwords-calmness__confidence-item На погружение в ваш бизнес и разработку долгосрочной стратегии рекламной кампании выделяем 3–4 дня 
          br
          | (а не 30 минут для галочки).
        li.adwords-calmness__confidence-item Ход кампании опирается на потребности вашего бизнеса и цели, а не только на внутренние показатели.
        li.adwords-calmness__confidence-item Нам это выгодно. Когда вы зарабатываете, то становитесь нашим постоянным клиентом. 
        li.adwords-calmness__confidence-item Ваш сайт будет разобран по косточкам. Десятки рекомендаций по увеличению конверсий!
      ul.adwords-calmness__confidence-right
        li.adwords-calmness__confidence-item Мы сделаем анализ целевой аудитории и конкурентов, предоставим вам идеи по разработке уникального торгового предложения.
        li.adwords-calmness__confidence-item Работа продолжается до получения вами прибыли. 
        li.adwords-calmness__confidence-item Мы знаем всё о AdWords и о том, что на него влияет.
        li.adwords-calmness__confidence-item 1 аналитик ведёт не более 10 проектов.
  .adwords-founder.clearfix
    .adwords-founder__wrap
      .adwords-founder__head.clearfix
        img(src='img/founder.png').adwords-founder__head-image
        .adwords-founder__head-texts
          p.adwords-founder__head-pre Эффективность рекламной кампании гарантирует: 
          h2.adwords-founder__head-title Филипп Царевский
          p.adwords-founder__head-subtitle Эксперт по Яндекс.Директ, основатель агентства Direct All-in
          p.adwords-founder__head-description 
            em Филипп специализируется исключительно на контекстной рекламе, поэтому вы получаете максимальную концентрацию усилий и возможностей именно в сфере Директа и сопутствующих услуг. Это даёт вам гарантированный рост целевого трафика, продаж и обращений. 
      .adwords-founder__achivements.clearfix
        h3 Чего достиг Филипп в области развития контекстной рекламы?
        .adwords-founder__achivements-left
          .adwords-founder__achivements-left-item
            p.adwords-founder__achivements-left-item-digit 40
            p.adwords-founder__achivements-left-item-text Разработал более 40 уникальных стратегий и фишек
          .adwords-founder__achivements-left-item
            p.adwords-founder__achivements-left-item-digit.red-line 200
            p.adwords-founder__achivements-left-item-text Настроил более 200 кампаний
          .adwords-founder__achivements-left-item
            p.adwords-founder__achivements-left-item-digit.light-blue-line 13
            p.adwords-founder__achivements-left-item-text Провел 13 вебинаров за 2014-15 года
        ul.adwords-founder__achivements-right
          li.adwords-founder__achivements-right-item Автор книги "Яндекс.директ: Как получать прибыль, а не играть в лотерею" (Изд. "Питер")
          li.adwords-founder__achivements-right-item Cамые сложные проекты ведёт лично
          li.adwords-founder__achivements-right-item Сертифицированный специалист по Яндекс.Директ
          li.adwords-founder__achivements-right-item Контролирует работу над каждой рекламной кампанией
          li.adwords-founder__achivements-right-item Занимается обучением директологов для крупных организаций и рекламодателей
          li.adwords-founder__achivements-right-item Ведущий семинаров в Высшей Школе Экономики
          li.adwords-founder__achivements-right-item Ведёт авторские колонки в блоге "Нетологии" и "Лп Генераторе"
      .adwords-founder__reviews
        h3.adwords-founder__reviews-title Вот что о нем пишут рекламодатели
        article.adwords-founder__reviews-item.clearfix
          .adwords-founder__reviews-item-pagination-prev &lt;
          .adwords-founder__reviews-item-pagination-next &gt;
          .adwords-founder__reviews-item-image
            img(src="img/review-authors/tatyana-ovchinnikova.jpg" width="168px" height="168px")
          .adwords-founder__reviews-item-texts
            h4.adwords-founder__reviews-item-texts-title Подходите ответственно и с душой к своему делу
            p.adwords-founder__reviews-item-texts-text Хочу выразить огромную благодарность Вам за ваши видеоуроки. Видеоуроков сейчас полно, но реально качественных и понятных для новичков единицы, да и для уже знающих не первый день про директ. Сразу видно, что Вы подходите ответственно и с душой к своему делу. Отзывы это еще раз подтверждают.
            p.adwords-founder__reviews-item-texts-author — Татьяна Овчинникова
          .adwords-founder__reviews-item-slider
            input(id="review-1" type="radio" name="reviews-slider" checked).adwords-founder__reviews-item-slider-radio
            input(id="review-2" type="radio" name="reviews-slider" ).adwords-founder__reviews-item-slider-radio
            input(id="review-3" type="radio" name="reviews-slider" ).adwords-founder__reviews-item-slider-radio
            input(id="review-4" type="radio" name="reviews-slider" ).adwords-founder__reviews-item-slider-radio
            label(for="review-1").adwords-founder__reviews-item-slider-point
            label(for="review-2").adwords-founder__reviews-item-slider-point
            label(for="review-3").adwords-founder__reviews-item-slider-point
            label(for="review-4").adwords-founder__reviews-item-slider-point
      .adwords-founder__videos.clearfix
        h3.adwords-founder__videos-title Посмотрите самые популярные видео
        .adwords-founder__videos-block
          .adwords-founder__videos-block-item
            img(src="http://placehold.it/329x193").adwords-founder__videos-block-item-image
            p.adwords-founder__videos-block-item-text Стратегия запуска при ограничении бюджета на Яндекс.Директ
          .adwords-founder__videos-block-item
            img(src="http://placehold.it/329x193").adwords-founder__videos-block-item-image
            p.adwords-founder__videos-block-item-text Всё о курсе по Яндекс Директ Филиппа Царевского
          .adwords-founder__videos-block-item
            img(src="http://placehold.it/329x193").adwords-founder__videos-block-item-image
            p.adwords-founder__videos-block-item-text Настройки в Яндекс Директ
  .adwords-puzzle.clearfix
    .adwords-puzzle__wrap
      h2.adwords-puzzle__title Авторская система построения работы специалистов над рекламной кампанией
      .adwords-puzzle__header
        .adwords-puzzle__header-logo
          img(src="img/puzzle-logo.png" width="220" height="300")
        .adwords-puzzle__header-right
          h3.adwords-puzzle__header-subtitle Такое построение работы позволяет:
          ul
            li.adwords-puzzle__header-feature Детально изучить всех особенности вашего бизнеса  и конкурентов.
            li.adwords-puzzle__header-feature Достигнуть профессионального исполнения всех элементов кампании на высшем уровне.
            li.adwords-puzzle__header-feature Удерживать высокую внимательность специалистов к деталям кампании в реальном времени.
        
      
