extends ../template

block main-content
  .adwords-callback.clearfix
    .adwords-callback__wrap
      .adwords-callback__left
        h2 Настройка
        img(src='img/google-adwords-logo.png')
        p Премиум-услуги по настройке контекстной рекламы для малого бизнеса, работающего на рынке от 1 года.
        p Рекламный бюджет от 20 000 до 500 000 рублей.
      form(action='' method='').adwords-callback__form
        h3 Заполните заявку,
        p.adwords-callback__form-expert-analisys и получите экспертную оценку действующей кампании и разработку стратегии бесплатно!
        input.adwords-callback__form-name(type='text' placeholder='Ваше Имя')
        input.adwords-callback__form-phone(type='text' placeholder='Ваш номер телефона')
        input.adwords-callback__form-button(type='submit' value='Позвонить мне')
  .adwords-calmness
    .adwords-calmness__wrap
      h2 
        span Работая с нами, Вы спите Спокойно!
      .adwords-calmness__features-left
        .adwords-calmness__feature.adwords-calmness__features-left-item.adwords-calmness__feature-growth
          h3.adwords-calmness__feature-title Существенный приток 
            u клиентов
          p.adwords-calmness__feature-text В среднем ROI рекламной кампании наших заказчиков увеличивается в 3,7 раза. Благодаря снижению стоимости клика, повышению эффективности объявлений, отстройки от конкурентов и других факторов.
        .adwords-calmness__feature.adwords-calmness__features-left-item.adwords-calmness__feature-strategy
          h3.adwords-calmness__feature-title Долгосрочная рекламная стратегия 
          p.adwords-calmness__feature-text Чтобы вы всегда понимали, за счёт чего масштабироваться и как выжать максимум из рекламной кампании.
        .adwords-calmness__feature.adwords-calmness__features-left-item.adwords-calmness__feature-reporting
          h3.adwords-calmness__feature-title Полную прозрачность и подробную отчётность
          p.adwords-calmness__feature-text Вы круглосуточно в любой момент имеете доступ ко всей информации и регулярно получаете отчёты о ходе кампании.
      .adwords-calmness__features-right
        .adwords-calmness__feature.adwords-calmness__features-right-item.adwords-calmness__feature-partnership
          h3.adwords-calmness__feature-title Мы – официальные партнеры Google
          p.adwords-calmness__feature-text Промокоды на 3000 рублей, доступ к закрытым материалам и персональная поддержка позволяют сделать рекламные кампании ещё эффективнее.
        .adwords-calmness__feature.adwords-calmness__features-right-item.adwords-calmness__feature-connect
          h3.adwords-calmness__feature-title Оперативная связь с нашими специалистами
          p.adwords-calmness__feature-text Корректировки рекламной кампании вы сможете сделать всего в течение 1 часа.
        .adwords-calmness__feature.adwords-calmness__features-right-item.adwords-calmness__feature-training
          h3.adwords-calmness__feature-title Обучение для вас и ваших сотрудников
          p.adwords-calmness__feature-text Если вы решите вести рекламную кампанию самостоятельно, мы проконсультируем по базовым принципам её настройки и ведения.
      
        
    
    
