include ../_common/_doctype

body

  header.header
    include ../_common/_header__navbar

  .book__header
    .book__wrap.book__header-content
      .book__header-right
        h1.callback-header__left-title
          | Прочитайте книгу
          span.callback-header__logo.callback-header__logo--red
            | Яндекс.Директ
          span.callback-header__logo.book__header-subtitle как получать прибыль, а не играть в лотерею

        h2.book__header-explanation «Самая полная, структурированная и понятная книга о контекстной рекламе в России»
          br
          span.book__header-disclaimer (по отзывам и рецензиям читателей).
        a(href="#").btn.btn--big Купить книгу
      .book__header-left
        img(src="./img/book/header-book.png" width="766" height="566").book__header-image
  .book__benefits
    .book__wrap.clearfix
      .book__benefits-left
        img(src="./img/book/header-benefits.png" width="500" height="700").book__benefits-image
      .book__benefits-right
        h2.book__benefits-title
          span.dotted-underline Что собой представляет книга?
        .book__benefits-lists
          ul.book__benefits-list-left
            li.book__benefits-item
              span.book__benefits-red Издательство «Питер»
              span.book__benefits-text – одно из лидирующих в России (среди выпускающих деловую литературу).
            li.book__benefits-item
              span.book__benefits-red 224 страницы
              span.book__benefits-text с поясняющими иллюстрациями,
              span.book__benefits-red 16 глав
              span.book__benefits-text ,
              span.book__benefits-red 8&nbsp;
              span.book__benefits-text полезных приложений.
            li.book__benefits-item
              span.book__benefits-red Мягкая обложка
              span.book__benefits-text – легкая, удобная, приятная на ощупь. Комфортный для чтения шрифт.
            li.book__benefits-item
              span.book__benefits-red Пошаговый алгоритм
              span.book__benefits-text подготовки, запуска и ведения рекламных кампаний в Яндекс.Директ.
            li.book__benefits-item
              span.book__benefits-red Минимум пересказа
              span.book__benefits-text справки Яндекса, лишь необходимая теоретическая база и принципы работы системы.
            li.book__benefits-item
              span.book__benefits-red Выжимка опыта
              span.book__benefits-text автора, десятки методов и фишек.
          ul.book__benefits-list-right
            li.book__benefits-item
              span.book__benefits-text Только
              span.book__benefits-red аргументированная информация
              span.book__benefits-text , проверенная на практике.
            li.book__benefits-item
              span.book__benefits-red Книга-учебник.
              span.book__benefits-text По каждой теме даются практические задания – возможность читать и сразу внедрять.
            li.book__benefits-item
              span.book__benefits-text Показательные
              span.book__benefits-red примеры
              span.book__benefits-text из личной практики автора.
            li.book__benefits-item
              span.book__benefits-red Настольная книга
              span.book__benefits-text специалиста по контекстной рекламе.
            li.book__benefits-item
              span.book__benefits-red И главное – инструменты,
              span.book__benefits-text благодаря которым Яндекс.Директ превращается из лотереи в управляемый маркетинговый инструмент, с вероятностью получения положительного результата 100%.
  .outcome
    .book__wrap
      h2.outcome-title
        span.dotted-underline Что на выходе, при условии выполнения заданий
      ul.outcome-content
        li.outcome-feature.outcome-strategy Детально проработанная стратегия масштабирования.
        li.outcome-feature.outcome-analisys Внедренная аналитика.
        li.outcome-feature.outcome-economy Экономия бюджета будет исчисляться сотнями тысяч рублей в год.
        li.outcome-feature.outcome-ab Грамотное А/Б-тестирование.
        li.outcome-feature.outcome-competitiveness Заработок больше, чем у конкурентов.
        li.outcome-feature.outcome-retargeting Настроенный ретаргетинг.
        li.outcome-feature.outcome-interface Знание интерфейса, как свои 5 пальцев
        li.outcome-feature.outcome-demand Десятки заявок ежедневно.
        li.outcome-feature.outcome-ads Умение писать продающие объявления.
        li.outcome-feature.outcome-optimization Оптимизация и улучшение показателей в действующей кампании.
        li.outcome-feature.outcome-targeted Целевой трафик с поиска и тематических площадок.
        li.outcome-feature.outcome-improvment Улучшение и поддержание результата за счёт ведения кампании.
        li.outcome-feature.outcome-keys Навык работы с ключевиками.
        li.outcome-feature.outcome-site Свой продающий сайт.
      a(href="#").btn--main.outcome-btn Показать содержание
  .book__useful
    .book__wrap
      h2.book__useful-title Кому и чем будет полезно?
      ul.book__useful-content
        li.book__useful-feature.book__useful-workshop Практикум для рекламодателей
        li.book__useful-feature.book__useful-tutorial Учебник для новичков
        li.book__useful-feature.book__useful-memo Настольная книга-шпаргалка для специалиста

  .book__author
    .book__wrap
      img(src="./img/book/book-author.png" width="456" height="664").book__author-image
      .book__author-texts
        p.book__author-subtitle Автор книги –
        h2.book__author-title Филипп Царевский
        p.book__author-text Специалист-практик по Яндекс.Директ, Владелец агентства Direct All-in, автор десятков популярных уроков, вебинаров, статей и других пособий для рекламодателей.
        p.book__author-text По отзывам, бесплатный контент Филиппа – самый понятный, информативный и исчерпывающий на рынке, даёт пользы больше, чем платные программы у многих других специалистов. По этим материалам обучаются многие агентства из ТОП-10, а конкуренты копируют и расхватывают контент на цитаты...

  .book__faq
    .book__wrap
      img(src="./img/book/faq-book.png" width="947" height="818").book__faq-image
      h2.book__faq-title Популярные вопросы о книге

      .book__faq-texts
        p.book__faq-question
          span.book__faq-underlined А что, если я потрачу время на чтение, но ничего не узнаю?
          br
          span.book__faq-interviewer (спрашивают специалисты по Яндекс.Директ)
        p.book__faq-answer Десятки опытных специалистов уже нашли немало новых идей для себя.

        p.book__faq-question
          span.book__faq-underlined Зачем мне это знать? Я лучше делегирую!
          br
          span.book__faq-interviewer (спрашивают владельцы бизнеса)
        p.book__faq-answer Вы не сможете отобрать хорошего специалиста из сотен некомпетентных, а если и сможете, то не сумеете проконтролировать. Книга – самый удобный и простой способ вникнуть в тему.

        p.book__faq-question
          span.book__faq-underlined В Директе всё быстро меняется – актуальна ли информация?
          br
          span.book__faq-interviewer (спрашивают все)
        p.book__faq-answer Именно по этой причине принято решение выпускать книгу небольшими тиражами и выдавать обновленную версию каждые несколько месяцев.

  .book__retailers
    .book__wrap
      h2.book__retailers-title
        span.dotted-underline Как приобрести?
      p.book__retailers-description Книга принадлежит издательству «Питер». Оно самостоятельно определяет стоимость, осуществляет поставки в магазины, организует доставку читателям. Найти можно в большинстве книжных магазинов, в т. ч. и в Интернете.
      .book__retailers-content
        .book__retailers-left
          img(src="./img/book/retailers-book.png" width="590" height="617").book__retailers-image
        .book__retailers-right
          p.book__retailers-subtitle Вот несколько популярных магазинов:
          .book__retailers-item
            img(src="./img/book/piter.png" width="198" height="57").book__retailers-logo
            a(href="#").book__retailers-buy.btn__red-border Купить
          .book__retailers-item
            img(src="./img/book/ozon.png" width="198" height="45").book__retailers-logo
            a(href="#").book__retailers-buy.btn__red-border Купить
          .book__retailers-item
            img(src="./img/book/chitay-gorod.png" width="198" height="59").book__retailers-logo
            a(href="#").book__retailers-buy.btn__red-border Купить
          .book__retailers-item
            img(src="./img/book/bukvoed.png" width="198" height="33").book__retailers-logo
            a(href="#").book__retailers-buy.btn__red-border Купить
          .book__retailers-item
            img(src="./img/book/labirint.png" width="198" height="56").book__retailers-logo
            a(href="#").book__retailers-buy.btn__red-border Купить
      .book__call-us.vedenie-footer.footer__call-us
        h4.footer__call-us-title.book__call-us-title В случае если тираж подходит к концу, и книги нет в наличии ни в одном из магазинов,
          br
          | оставьте заявку, и мы найдём тот, в котором её ещё можно приобрести.
        form.form(action="")
          input.form__text.form__text--w250(type="text" placeholder="Ваше Имя")
          input.form__text.form__text--w250(type="text" placeholder="Ваш E-mail")
          .footer__submit.book__call-us-submit
            input.btn.btn--big(type="submit" value="Найдите мне книгу")
      .book__brackets
        p.book__brackets-title Учебник заточен под малый бизнес – услуги, магазины, производства.
        p.book__brackets-text Если вы специализируетесь на МЛМ, инфобизнесе, арбитраже трафика – не могу гарантировать, что он принесет вам пользу.

  //
    .book__reviews.reviews
      .book__wrap
        h3.reviews__title Отзывы и рецензии:
        article.reviews__item.clearfix
          .reviews__pagination-prev &lt;
          .reviews__pagination-next &gt;
          .reviews__photo
            img(src="./img/review-authors/artem-kabalkin.jpg" width="195px" height="176px")
          .reviews__texts
            h4.reviews__texts-title Яндекс.Директ – точный инструмент, или лотерея?
            p.reviews__texts-text Филипп Царевский, основатель агентства Direct-all- in и гостевой автор нашего блога LPgenerator, написал крайне полезную книгу «Яндекс.Директ: Как получать прибыль, а не играть в лотерею». Коротко поделимся впечатлениями о ней
            p.reviews__texts-text С первых строк автор обращается к читателю, словно к старому знакомому — на «ты», разбавляя...
              a(href="#").link-blue Показать полностью
              //TODO a?
            p.reviews__texts-author — Артём Кабалкин
              br
              span.reviews__texts-author-job CEOLPGenerator

          .reviews__slider
            input(id="review-1" type="radio" name="reviews-slider" checked).reviews__slider-radio
            input(id="review-2" type="radio" name="reviews-slider" ).reviews__slider-radio
            input(id="review-3" type="radio" name="reviews-slider" ).reviews__slider-radio
            input(id="review-4" type="radio" name="reviews-slider" ).reviews__slider-radio
            label(for="review-1").reviews__slider-point.slider-dot
            label(for="review-2").reviews__slider-point.slider-dot
            label(for="review-3").reviews__slider-point.slider-dot
            label(for="review-4").reviews__slider-point.slider-dot

  include ../_common/_footer__navbar
