include ../_common/_doctype

body
  header.header.header--padding
    include ../_common/_header__navbar--nomenu

  section.subscription
    .subscription__wrap.clearfix.subscription__wrap--main
      .subscription__column--left
        img.subscription__img(src="img/demonstration/campain.png" alt="Демонстрационная настройка видео")

      .subscription__column--right.get-course.get-course--subscribe
        span.get-course__header Мини-курс
        h3.get-course__name.get-course__name--small-line
          | «Погружение в
          br
          | бизнес заказчика»
        p.get-course__details
          | Первое занятие большого курса по
          br
          | Яндекс.Директ от Филиппа Царевского
        a.btn.btn--main.get-course__btn(href="#") Смотреть мини-курс

  section.inseption
    .inseption__wrap
      header.inseption__header
        span
          | Дом начинается с фундамента. Рекламная кампания начинается с погружения в бизнес. Важнейший этап, без которого все усилия могут превратиться в банальную лотерею: «повезет/не повезет».
      p.inseption__text
        | Моё твёрдое убеждение: чтобы дать хороший результат, нужно знать бизнес заказчика порой даже глубже, чем сам заказчик. Найти те нюансы, о которых он сам не задумывался. Знать конкурентов, рынок, целевую аудиторию. Причем не просто знать, но и уметь сделать из этого знания правильные выводы и применить их на практике.
      p.inseption__text
        | Причин много. Все прекрасно понимают, что с идеальной рекламной кампанией, но с убогим рыночным предложением ничего хорошего не выйдет. Более того, с хорошим предложением, но плохим сайтом тоже далеко не уедешь.
      p.inseption__text
        | Казалось бы, это не проблема специалиста по контекстной рекламе или другим видам трафика. «Наша задача – целевой поток посетителей», скажете вы, и будете правы. Но от факта не убежишь: рекламодатель оценивает вашу работу и принимает решение всего лишь по одному критерию – удовлетворен он продажами, или нет. И даже если он согласится с вашими аргументами и не будет иметь никаких претензий, у него просто не будет денег и желания на дальнейшее сотрудничество. Клиент потерян.
      p.inseption__text
        | Поэтому единственный вариант выжить –
        span выйти за рамки рекламных кампаний
        | , и начинать немного разбираться в сайтах, отстройке от конкурентов, УТП, продажах.

  section.info-block
    .info-block__wrapper

      img.info-block__border(src="img/calmness/promises-left-brace.png" alt="")

      .info-block__text.info-block__text--small-padding
        p.info-block__text--big.info-block__text--bold
          | И здесь встаёт главный вопрос:
        p.info-block__text--big.info-block__text--italic
          | Как понять, что именно предложить каждому конкретному клиенту?
        p.info-block__text--big.info-block__text--italic
          | Как быстро найти решения и идеи, которые не потребуют масштабной революции, и могут быть внедрены относительно быстро?

      img.info-block__border(src="img/calmness/promises-left-brace.png" alt="")

  section.important.important--no-bg.important--small-padding
    .important__wrap
      header.important__header.important__header--small
        span Ответ простой:
      ul.important__list
        li.important__list-item.important__list-item--1.important__list-item--no-after.important__list-item--small.important__list-item--no-margin
          p Знать, что в принципе можно предложить (иметь некое информационное поле вариантов на разные случаи бизнеса)
        li.important__list-item.important__list-item--2.important__list-item--no-after.important__list-item--small
          p Глубоко погрузиться в бизнес, изучить все сильные и слабые стороны, рынок, конкурентов, пообщаться с владельцем бизнеса и руководителем отдела продаж, чтобы понять, какие именно решения в данном случае будут уместны.
      p.important__par
        | На просторах интернета можно найти много бреда на эту тему: нужно точно знать портрет целевой аудитории, пол, возраст, автомобиль, понимать, что снится по ночам и какая порода собаки у двоюродной сестры дворника. По опыту скажу, что достоверно узнать этого невозможно, да и не особо поможет такая информация в рекламных кампаниях.

  section.author-instrument
    .author-instrument__wrap
      header.author-instrument__header
        span Я предлагаю свой авторский метод
      article.author-instrument__flex
        .author-instrument__column
          p Метод, разработанный на основе опыта работы с клиентами агентства Direct All-in. Шишек мы в этом набили достаточно, и в итоге нашли решение, которое позволило значительно повысить долю успешных проектов.
          p Метод заключается в задавании правильных вопросов, способов поиска ответов и правильных выводах из них.
          p На основе анализа создаётся поле идей и ограничений, из которых вытекают конкретные решения по созданию уникального предложения.
        .author-instrument__column
          p Кроме того, в дальнейшем полученные данные применяются при составлении стратегии рекламных кампаний, подборе ключевиков, написании объявлений и т.д
          p Таким образом, правильно погрузившись в бизнес, мы создаём фундамент, на котором будет построена вся работа по проекту. Благодаря этому значительно снижается количество тестов, падает вероятность ошибок, растут шансы на благоприятный результат, всё двигается гораздо быстрее.
      .author-instrument__subtext
        header.author-instrument__subheader
          span Метод не самый простой.
        p Порой на подготовку мы тратим
          b от 3 до 7 дней.
          | (До работы над созданием самой рекламной кампании!).
          br
          | Но затраченное время окупается благодарностью клиентов, сохраненными нервами и повторными
          br
          | продажами.

  section.important.important--calmness.important--normal-padding.important--blue
    .important__wrap
      header.important__header
        p Что разобрано в этом видео:
      ul.important__list
        li.important__list-item.important__list-item--1
          p Понимать запросы не как набор слов, а как зеркало, отражающее желание человека
        li.important__list-item.important__list-item--2
          p Анализировать все возможные формулировки запросов и применять операторы
        li.important__list-item.important__list-item--3
          p Прорабатывать минус-слова для любой ниши под завязку
        li.important__list-item.important__list-item--4
          p Фишкам в экселе и ворде, которые помогут создать кампанию быстрее, при той же эффективности
        li.important__list-item.important__list-item--5
          p Попадать в точку при написании текстов и быстрых ссылок
        li.important__list-item.important__list-item--6
          p Разделять ключевики на смысловые группы
        li.important__list-item.important__list-item--7
          p Работать с поиском и вордстатом
        li.important__list-item.important__list-item--8
          p Работать с поиском и вордстатом
      p.important__subheader.important__subheader--common-margin
        | Занятие построено в виде конкретного алгоритма действий. Каждое действие аргументировано и четко вытекает из общей логики. Всё разложено по полочкам.

  section.garantee
    .garantee__wrap
      header.garantee__header
        span Гарантирую
      header.garantee__subheader
        span
          | Вы будете знать о бизнесе своего клиента всё, что вам действительно необходимо. В 99% заказчиков скажет вам, что в процессе погружения открыл для себя много нового, увидел полную картину своего бизнеса, снял розовые очки, получил множество новых идей.
      .garantee__flex
        p.garantee__text
          | Но знать и разложить по полочкам мало – на основе это вы дадите четкие и понятные рекомендации по УТП и сайту, что значительно повысит шансы на успех рекламной кампании, повысит вас в глазах заказчика и заложит основу для долгосрочной продуктивной работы.
        p.garantee__text
          | Кстати говоря, применяется это далеко не только в Яндекс.Директ, но и во всех остальных видах рекламы. Поэтому для всех специалистов –
          span мастхэв
          | . Да и для владельцев бизнеса тоже желательно – сами разложите свой бизнес по полочкам и найдёте много новых идей.

  section.test.test--padding-bottom.test--inseption-bg
    .test__wrap
      header.test__header.test__header--large
        h3.test__head.test__head--normal.test__head--no-margin
          | Цена видео - 7000 &#8381;
        span
          | Никаких скидок ближайший год не будет.
      p.test__text
        | Мы проводили опрос в фокус группе, и этот мини-курс оценили в
        br
        | среднем на 12000 рублей.
      .test__flex
        .test__column
          p.test__par
            | Как всегда, я не продаю просто видео. Само по себе оно не имеет такой высокой ценности. Вместе с ним вы получаете:
          ul.test__list
            li.test__item
              | Ответы на вопросы по нему
            li.test__item
              | Проверка домашнего задания
            li.test__item
              | Шпаргалки с вопросами
        .test__column
          p.test__par
            | Кроме того, видео не записывалось отдельно. Это живой вебинар, с реальными людьми на моём курсе по Яндекс.Директ – первое занятие, без которого дальше двигаться невозможно. В начале даже частично есть вводная часть к самому курсу. Поэтому если сейчас вы решите купить это занятие, а в последствии пройти обучение, то оплаченная сумма будет вычтена из стоимости.
      a.btn.btn--main.btn--cta.test__btn(href="")
        | Купить видео
      p.test__small
        | Если вы сомневаетесь в целесообразности покупки, и вам нужна
        br
        | дополнительная информация, задайте свой вопрос на info@direct-all-in.ru

  footer.footer
    include ../_common/_footer__navbar
