include ../_common/_doctype

body
  header.header
    include ../_common/_header__navbar
    h1.header__title Формирование цены
      small на настройку контекстной рекламы
  section.earlier
    .earlier__wrap
      h2.earlier__title Раньше мы работали по пакетам и объему ключевых фраз
      p Но это оказалось не удобным для клиентов, так как у каждого бизнеса свои цели, задачи и ресурсы (и речь не только о бюджете, но и производительности, отделе продаж и т.д.).
      p И предлагать для всех одинаковые варианты не очень логично.
  section.price.clearfix
    .price__wrap
      h2.price__title
        span Как формируется цена:
      article.price__arguments-block
        h3 Объем работы значительно отличается в зависимости от:
        ul.price__list
          li Конкуренции (20 рекламодателей, или 200?)
          li Региона (В Москве уровень настройки рекламных кампаний у конкурентов выше)
          li Спроса на продукт (15 или 1000 посетителей в сутки?)
          li Сложности тематики (в нюансы юриспруденции погрузиться значительно сложнее)
        p И стоимость, в зависимости от объема работ, будет в диапазоне от 20 до 500 т.р.
        p Мы изучим конкретно вашу ситуацию, посчитаем необходимый фронт работ и сделаем адекватное предложение, которое даст максимальную эффективность для вашего бизнеса.
      aside.price__aside
        figure.price__feature
          img(src='./img/icon-price-from-to.png')
          figcaption Стоимость от 20 до 500 т.р.
        figure.price__feature
          img(src='./img/icon-inc-ur-needs.png')
          figcaption С учетом Ваших потребностей
  section.context
    .context__wrap
      h2.context__title Контекстная реклама – это маркетинговый инструмент,
        br
        | а не лотерея
      h3.context__title-second Мы выходим за рамки настройки Директа
      p.context__text и даем рекомендации по продающим страницам, отстройке от конкурентов, вашему рыночному предложению, другим инструментам маркетинга и их использованию. Только стратегический подход позволит получить желаемый результат. CTR и цена клика – задачи второстепенные.
      ul.context__features
        li.context__feature.context__feature-growth Если вы внедрите наши идеи, улучшите сайт и ваше предложение, внедрите систему аналитики, то мы сможем гарантировать вам ощутимый результат.
        li.context__feature.context__feature-safe В каждом случае это что-то свое: кто-то снижает в 2 раза расходы, оставляя те же доходы, кто-то увеличивает в 2 раза расходы и в 4 раза доходы, кто-то получает десятки заявок в день, кто-то меньше, но с большим средним чеком и более целевых, и т.д.
        li.context__feature.context__feature-glass Чтобы дать конкретную гарантию, нам необходимо глубоко изучить вашу ситуацию, основываясь на тех показателях, что есть сейчас.
  section.metrika
    .metrika__wrap
      .metrika__show
        | Все покажет
        br
        | Яндекс.метрика
      h2.metrika__title Для тех, кто еще не использовал контекстную рекламу для привлечения продаж
      p.metrika__text Даже если вы запускаетесь с нуля, и гарантии в продажах или заявках мы дать не сможем (просто потому, что не на чем ее основать), вы в любом случае можете быть уверены в качестве посетителей, которые перейдут на ваш сайт с нашей рекламы.
      p.metrika__text Большая часть посетителей будет изначально заинтересована в ваших услугах. Это легко проверить с помощью Яндекс.метрики – по каким запросам перешли, сколько времени были на сайте, какие разделы изучали, сколько из зашедших в последствии вернулись на сайт и т.д.
  section.included#particles-js
    .included__wrap
      h2.included__title
        span Для всех клиентов включено:
      article.included__features
        section.included__feature.included__feature-interview
          h6 Интервью 1-2 часа
          p на котором погрузимся в бизнес и разработаем стратегию. Интервью проведет ваш личный менеджер проекта или руководитель агенства, Царевский Филипп
        section.included__feature.included__feature-month
          h6 Ведение кампании 1 месяц
          p в течение которого стабилизируем кампанию и доведём до результата. За счёт ведения Директ для вас будет управляемым инструментом в надежных руках, а не лотереей. Дальнейшее ведение – добровольно, по договоренности
        section.included__feature.included__feature-audit
          h6 Аудит сайта
          p благодаря которому посетители с Директа будут лучше конвертироваться в клиентов
        section.included__feature.included__feature-star
          h6 РСЯ и ретаргетинг
          p преследующая реклама на сотнях тысяч площадок. С неё зачастую можно получить много конверсий по низкой цене
        section.included__feature.included__feature-consulting
          h6 Обучение и консультации
          p В случае, если вы в дальнейшем будете работать самостоятельно, мы предоставим вам все необходимые видео-инструкции и ответим на любые вопросы, чтобы вы могли улучшать рекламную кампанию и эффективно работать с ней
        section.included__feature.included__feature-target
          h6 Помощь в разработке УТП
          p Мы изучим бизнес, посмотрим конкурентов и дадим свои рекомендации по улучшению вашего рыночного предложения. За счёт этого вы сможете выделиться среди конкурентов и стать более привлекательными для покупателей
  include ../_common/_footer
