include ../_common/_doctype

body
  header.header.header--padding
    include ../_common/_header__navbar--nomenu
  section.subscription
    .subscription__wrap.clearfix.subscription__wrap--main
      .subscription__column--left.yandex-course
        h3.yandex-course__call Пройди бесплатный курс по
        .yandex-course__logo
          img.yandex-course__logo-img(src="./img/subscriptions/yandex.png" alt="Яндекс Директ")
          | Яндес Директ
        h3.yandex-course__from От Филиппа Царевского
        p.yandex-course__feedback "Самый исчерпывающий и структурированный на рынке"
        p.yandex-course__by (по отзывам подписчиков)
      .subscription__column--right.get-course.get-course--subscribe
        h3.get-course__header 12 пошаговых уроков, по
          br
          | одному каждый день
        p.get-course__details Нюансы, которых не знает 95% рекламодателей и 70% специалистов (данные основаны на сотнях аудитов и консультаций)
        form.form(action="")
          input.form__text.form__text--big.get-course__input-text(type="text" placeholder="Введите ваш e-mail")
          input.btn.btn--main.get-course__btn(type="submit" value="Получить уроки")

  section.effective
    header.effective__header
      div.effective__wrap.clearfix
        .effective__left
            img(src="./img/subscriptions/effective.png" alt="Эффект")
        .effective-header__right
          h3.effective__h3
            | В среднем, эффективность контекстной рекламы после прохождения курса увеличивается в 2,34 раза
          p.effective__text
            | Кто-то снижает расходы, кто-то увеличивает количество заявок или повышает их качество, кому-то удается поднять средний чек.
          p.effective__text
            | Рекламодатели смогут легко отличить дилетанта от профессионала, а директологи (или специалисты по контекстной рекламе, если угодно) повысят свою экспертность и будут дороже продавать свои услуги.
    .subscription__wrap.subscription__effective--wrapper
      article.subscription__effective--content.effective-content
        h3.effective-content__header
          | За счёт чего это происходит?
        .effective-content__wrapper
          ul.effective-content__column
            li.effective-content__column--element.column-element
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/glasses.svg", alt="")

              p.column-element__text
                | Узнаете азы, без которых Директ превращается в слив бюджета.

            li.effective-content__column--element.column-element(style="margin-bottom: 66px;")
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/emc.svg" alt="")
              p.column-element__text
                | Узнаете чем Яндекс Директ отличается от лотереи и почему контекстная реклама - это мощный маркетинговый инструмент.

            li.effective-content__column--element.column-element(style="margin-bottom: 43px;")
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/settings.svg" alt="")
              p.column-element__text
                | Выставите правильные настройки в интерфейсе, которые сэкономят ваш бюджет.

            li.effective-content__column--element.column-element
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/growth.svg" alt="")
              p.column-element__text
                | Научитесь правильно вести компании и контролировать ставки и постоянно улучшать результаты.

          ul.effective-content__column
            li.effective-content__column--element.column-element
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/noMistakes.svg" alt="")
              p.column-element__text
                | Избежите типичных ошибок начинающих рекламодателей.

            li.effective-content__column--element.column-element
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/note.svg" alt="")
              p.column-element__text
                | Составите сильное предложение и выделитесь среди конкурентов.

            li.effective-content__column--element.column-element
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/molecular.svg" alt="")
              p.column-element__text
                | Получите много дешевых заявок при помощи РСЯ и ретаргетинга.

            li.effective-content__column--element.column-element
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/user.svg" alt="")
              p.column-element__text
                | Зададите любые вопросы и гарантированно получите на них ответы от Филиппа Царевского.

          ul.effective-content__column
            li.effective-content__column--element.column-element(style="margin-bottom: 43px;")
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/brunches.svg" alt="")
              p.column-element__text
                | Научитесь собирать целевые ключевики, правильно их сортировать и минусовать, а также выделять приоритеты. Показы будут только целевые.

            li.effective-content__column--element.column-element
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/searchDoc.svg" alt="")
              p.column-element__text
                | Напишете грамотные продающие объявления.

            li.effective-content__column--element.column-element(style="margin-bottom: 68px;")
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/book.svg" alt="")
              p.column-element__text
                | Получите доступ к записям вебинаров, авторским статьям, ответам на любые вопросы.

            li.effective-content__column--element.column-element
              .column-element__wrapper
                img.column-element__wrapper--img(src="./img/icons/target.svg" alt="")
              p.column-element__text
                | Будете в курсе всех тенденций и новинок.

  section.video
    .subscription__wrap.video__wrapper
      iframe.video__iframe(src="https://www.youtube.com/embed/O1YwexOF0Gc?autoplay=0")

      .video__info.video-info
        .video-info__top
          h3.video-info__top--watch
            | Посмотрите один урок,
          h4.video-info__top--choose
            | и решите, смотреть ли весь курс:
          p.video-info__top--text
            | Урок 1. Подготовка к настройке Яндекс.Директ

        .video-info__bottom
          p.video-info__bottom--like
            | Понравился видео-урок? Жми лайк и
            br
            | расскажи о нем своим друзьям:
          ul.video-info__bottom--socials.socials
            li.socials__item.socials__item--vk
              a.socials__item--link(href="")
                | ВКонтакте
            li.socials__item.socials__item--fb
              a.socials__item--link(href="")
                | Фейсбук
            li.socials__item.socials__item--tw
              a.socials__item--link(href="")
                | Твиттер

  section.better
    .better__wrap
      h3.better__head
        span
          | Чем ещё этот курс лучше большинства на рынке:
      artcile.better__content

        .better__left-column
          ul.better__list

            li.better__list-item
              header.better__list-header
                | Уроки от 8 до 27 минут.
              p.better__list-text
                | Ценим ваше время, поэтому сократили каждую тему до необходимого минимума. Нет воды. Только практика, выжимка самого важного.

            li.better__list-item(style="margin-bottom: 60px;")
              header.better__list-header
                | Авторские наработки
              p.better__list-text
                | Минимум пересказа и очередной трактовки справочника Яндекса. Всё остальное - фишки, методы, сравнение вариантов.

            li.better__list-item(style="margin-bottom: 60px;")
              header.better__list-header
                | То, что действительно работает.
              p.better__list-text
                | Каждую тему аргументирую и доказывают. На рынке много спорной информации или "высосанных из пальца" фишек. Например, галочка, которая снижает расходыв 2 раза, не существует, но звучит она очень красиво.

            li.better__list-item
              header.better__list-header
                | Поддержка автора.
              p.better__list-text
                | 2 раза в неделю я отвечаю на любые вопросы по Яндекс.Директ. Без возможности получить обратную связь, уточнить спорные или непонятные моменты, задать дополнительный вопрос, привести пример из практики и получить совет от эксперта, видеозаписи сами по себе дают лишь ощую информацию, не всегда применимую в конкретном случае.

        .better__right-column
          .quote
            p.quote__text
              | Например, можно сказать:
            header.quote__quote
              | "Существует оператор фиксации словоформы. Для этого нужно поставить восклицательный знак перед словом".
            p.quote__text
              | Большинство других ведущих подают 90% информации в таком стиле. Я же стараюсь рассказать, в каких случаях и что применять, как найти такие случаи, показать примеры.

          ul.better__list
            li.better__list-item(style="margin-bottom: 50px;")
              header.better__list-header
                | Действительно бесплатно.
              p.better__list-text
                | Информации достаточно, чтобы настроить полноценную рекламную кампанию. Более того, у меня множество дополнительных уроков, записей вебинаров, статей, и всё это в открытом доступе. Да, у меня есть платные курсы для тех, кто хочет получить ещё больше нюансов. Однако и без них бесплатный контент имеет большую практическую ценность, а не просто даётся для привлечения внимания.

            li.better__list-item
              header.better__list-header
                | Структурированность и чёткость.
              p.better__list-text
                | Всё разложено по полочкам, выстроено пошагаво, донесено простым и понятным языком. Кроме того, речь и дикция в порядке, голос приятный, звук и изображение качественные, что тоже немаловажно.

  section.test
    .test__wrap
      header.test__header
        h3.test__head
          | Думаете, что и так хорошо разбираетесь?
      p.test__text
        | Пройдите онлайн тест на знание Яндекс.Директ
        br
        | и проверьте это!
      a.btn.btn--main.test__btn(href="")
        | Пройти тест

  section.about-speaker.about-speaker--subscribe
    .subscription__wrap.about-speaker__wrapper

      header.about-speaker__header

        .about-speaker__header--left.speaker-photo
          .speaker-photo__wrapper
            img.speaker-photo__img(src="./img/subscriptions/speaker.jpg" alt="Филипп Царевский")

        .about-speaker__header--right.speaker-descr
          small.speaker-descr__coach
            | Ведущий курса&nbsp;—
          h3.speaker-descr__name
            | Филипп Царевский
          p.speaker-descr__text
            | Уважаемый авторитет на рынке контекстной рекламы,
          p.speaker-descr__text
            | автор популярной книги "Яндес.Директ: как получать прибыль, а не играть в лотерею", десятков вебинаров, статей, обучающих видео, а также предприниматель, маркетолог и практик в Яндекс.Директ.
          p.speaker-descr__text
            | Его отличие от многих других специалистов в том, что он учит получать прибыль из директа и все методы рассматривает исключительно через призму

      article.about-speaker__quote
        h4.about-speaker__quote--text
          | «Яндекс.Директ&nbsp;— это мощный управляемый маркетинговый инструмент, а не лотерея «сработает/не сработает». Он сработает всегда, при умном подходе.»
        p.about-speaker__quote--comment
          | — эти слова от Филиппа слышали все, кто с ним хотя бы минимально знаком.

      article.course-for.course-for--no-padding-bottom
        header.course-for__header
          | Внимание! Курс не будет полезен для:

        ul.course-for-list

          li.course-for-list__item.business
            .course-for-list__item--wrapper
              header.course-for-list__item--header
                | Инфобизнесмена, арбитражника, сетевика.
              p.course-for-list__item--text
                | Он заточен под настоящий малый бизнес.

          li.course-for-list__item.study
            .course-for-list__item--wrapper
              header.course-for-list__item--header
                | Выпускника бизнес-тренингов,
              p.course-for-list__item--text
                | Для которого слово своего "гуру" авторитетнее любого аргумента, пусть даже 100 раз логически доказанного.

          li.course-for-list__item.nothing
            .course-for-list__item--wrapper
              header.course-for-list__item--header
                | Тому, кто много смотрит, но ничего не делает.
              p.course-for-list__item--text
                | Вся информация исключительно практическая. Зачем вам ещё тонна видеоряда, если он не будет иметь практического применения?
      //
        article.comment
        header.comment--header
          | Почитайте отзывы тех, кто уже прошел этот курс.

        .comment--wrapper.clearfix

          a.comment--move.move-back(href="") Назад

          .comment--comment.about-comment
            .about-comment__wrapper

              .about-comment__image.clearfix
                img.about-comment__image-pic(src="./img/subscriptions/comments/comm1.jpg" alt="Комментарий")

              .about-comment__text
                header.about-comment__text--head
                  | Материал структурирован, помог расставить по полочкам.
                p.about-comment__text--par
                  | Филипп, большое спасибо за столь ценный материал, который помог расставить в голове всю кашу о Яндекс.Директ. Материал весь структурирован, все действия последовательны и расписаны технические нюансы.

                p.about-comment__text--par
                  | Из фишек: раньше справлялась только якорями на быстрые ссылки, теперь знаю, как сделать намн...
                  a.about-comment__text--link(href="")
                    | Показать полностью

                p.about-comment__text--author
                  | Аня Дианова

            nav.about-comment__nav
              .about-comment__nav--wrapper
                a.about-comment__nav--link.active(href="")
                  | 1
                a.about-comment__nav--link(href="")
                  | 2
                a.about-comment__nav--link(href="")
                  | 3
                a.about-comment__nav--link(href="")
                  | 4

          a.comment--move.move-foward(href="") Вперёд

  section.subscribe-course.footer__call-us
    .subscription__wrap
      article.subscribe-course__text
        header.subscribe-course__text--header
          | Курс абсолютно бесплатный.
        p.subscribe-course__text--subheader
          | Если вам что-то не понравится, в любой момент можно будет отписаться.
        p.subscribe-course__text--call
          | Получите первое письмо на почту в течение 2 минут!
      form.form(action="")
        input.form__text.form__text--middle.form__text--big(type="text" placeholder="Введите ваш e-mail")
        .footer__submit
          input.btn.btn--large(type="submit" value="Получить уроки")

  footer.footer
    include ../_common/_footer__navbar
