include ../_common/_doctype

body
  wrapper.webinar

    header.header
      .header__navbar
        .header__wrap
          a.logo(href="/") Direct All-in
          a.header__phone(href="/callback") 8&nbsp;(499)&nbsp;649-54-17
            span.header__callback Заказать звонок

    header.webinar__header
      wrapper.wrapper.webinar__header--wrapper
        .webinar__flex
          .webinar__flex--left
            img.webinar__header--img(src="./img/webinar-video.png", alt="Самый лучший вебинар")
          .webinar__flex--right.get-course
            h3.get-course__header
              | Запись вебинара по ведению и аналитике рекламных компаний в
            .yandex-course__logo
              img.yandex-course__logo-img(src="./img/subscriptions/yandex.png" alt="Яндекс Директ")
              | Яндес Директ
            p.get-course__details 5-часовая запись настройки
              br
              | рекламной кампании с комментариями
              br
              | Филиппа Царевского
            a.btn.get-course__btn(href="")
              | Купить вебинар

    section.about-speaker
      wrapper.wrapper.about-speaker__wrapper
        header.about-speaker__header

          .about-speaker__header--left.speaker-photo
            .speaker-photo__wrapper
              img.speaker-photo__img(src="./img/subscriptions/speaker.jpg" alt="Филипп Царевский")

          .about-speaker__header--right.speaker-descr
            small.speaker-descr__coach
              | Ведущий курса&nbsp;—
            h3.speaker-descr__name
              | Филипп Царевский
            p.speaker-descr__text
              | Автор книги &laquo;Яндес.Директ: как получать прибыль, а не играть в лотерею&raquo;
            p.speaker-descr__text
              | «Раз в год, в середине весны, я провожу вебинары по ведению и аналитике рекламных компаний в Яндекс.Директ. Цель - дать инстукции сотрудникам и клиентам, а также создать дополнительный материал для месячного курса по Яндекс.Директ.&raquo;

        article.about-speaker__fact
          | По сути, вебинар отвечает на вопрос:
          br
          span.red &laquo;
          | Что делать с рекламной компанией после её запуска?
          span.red &raquo;

    section.achieve
      wrapper.wrapper.achieve__wrapper
        header.achieve__header
          | Вот, чего вы можете достичь после просмотра:
        wrapper.achieve__flex
          .achieve__flex--item
            wrapper.achieve__flex--wrapper
              img.achieve__flex--img(src="./img/icons/diagram.svg" alt="Увеличь ROI c директа в 2-10 раз")
            p.achieve__flex--text
              | Увеличить ROI c директа в 2-10 раз

          .achieve__flex--item
            wrapper.achieve__flex--wrapper
              img.achieve__flex--img(src="./img/icons/highConversion.svg" alt="Повысить конверсию сайта, не внося на нем изменений")
            p.achieve__flex--text
              | Повысить конверсию сайта, не внося на нем изменений

          .achieve__flex--item
            wrapper.achieve__flex--wrapper
              img.achieve__flex--img(src="./img/icons/zoomIn.svg" alt=" Найти и залатать дыры, сливающие бюджет")
            p.achieve__flex--text
              | Найти и залатать дыры, сливающие бюджет

          .achieve__flex--item
            wrapper.achieve__flex--wrapper
              img.achieve__flex--img(src="./img/icons/growth.svg" alt="Узнать все свои показатели")
            p.achieve__flex--text
              | Узнать все свои показатели

          .achieve__flex--item
            wrapper.achieve__flex--wrapper
              img.achieve__flex--img(src="./img/icons/moreMoney.svg" alt="Зарабатывать больше")
            p.achieve__flex--text
              | Зарабатывать больше

    section.configuration.clearfix
      wrapper.adwords-wrap
        .configuration__browser.clearfix
          .configuration__browser-top.clearfix
            p.configuration__browser-url www.direct-all-in.ru
            ul.configuration__browser-buttons
              li.configuration__browser-button
              li.configuration__browser-button
              li.configuration__browser-button
          .configuration__browser-title
            span Вебинар / Содержание
          .configuration__browser-content
            ul.configuration__browser--list
              li.list-item
                span.list-item__num
                  | 1&nbsp;&nbsp;
                span.list-item__text
                  | Цели ведения
              li.configuration__browser--item.list-item
                span.list-item__num
                  | 2&nbsp;&nbsp;
                span.list-item__text
                  | Первые действия в рекламной кампании
              li.configuration__browser--item.list-item
                span.list-item__num
                  | 3&nbsp;&nbsp;
                span.list-item__text
                  | Добавление минус-слов и ключевиков
              li.configuration__browser--item.list-item
                span.list-item__num
                  | 4&nbsp;&nbsp;
                span.list-item__text
                  | Ежедневный контроль
              li.configuration__browser--item.list-item
                span.list-item__num
                  | 5&nbsp;&nbsp;
                span.list-item__text
                  | Улучшение показателей – CTR, отказы, время на сайте, глубина просмотра
              li.configuration__browser--item.list-item
                span.list-item__num
                  | 6&nbsp;&nbsp;
                span.list-item__text
                  | Увеличение конверсии сайта без внесения изменений на нём
              li.configuration__browser--item.list-item
                span.list-item__num
                  | 7&nbsp;&nbsp;
                span.list-item__text
                  | Проведение а/б тестов
              li.configuration__browser--item.list-item
                span.list-item__num
                  | 8&nbsp;&nbsp;
                span.list-item__text
                  | Отключение неэффективных площадок
              li.configuration__browser--item.list-item
                span.list-item__num
                  | 9&nbsp;&nbsp;
                span.list-item__text
                  | Выявление эффективных и неэффективных фраз и работа с ними
              li.configuration__browser--item.list-item
                span.list-item__num 10
                span.list-item__text
                  | Мониторинг конкурентов
              li.configuration__browser--item.list-item
                span.list-item__num 11
                span.list-item__text
                  | Работа с операторами
              li.configuration__browser--item.list-item
                span.list-item__num 12
                span.list-item__text
                  | Контроль ставок
              li.configuration__browser--item.list-item
                span.list-item__num 13
                span.list-item__text
                  | Работа с регионами
              li.configuration__browser--item.list-item
                span.list-item__num 14
                span.list-item__text
                  | Искусственное повышение CTR
              li.configuration__browser--item.list-item
                span.list-item__num 15
                span.list-item__text
                  | Эффективное распределение бюджета
              li.configuration__browser--item.list-item
                span.list-item__num 16
                span.list-item__text
                  | Стратегии расширения кампании
              li.configuration__browser--item.list-item
                span.list-item__num 17
                span.list-item__text
                  | Что делать, если нет заявок?
              li.configuration__browser--item.list-item
                span.list-item__num 18
                span.list-item__text
                  | Сколько времени уделять ведению?
              li.configuration__browser--item.list-item
                span.list-item__num 19
                span.list-item__text
                  | Ведение дневника кампании
              li.configuration__browser--item.list-item
                span.list-item__num 20
                span.list-item__text
                  | Работы с отчётами в метрике
              li.configuration__browser--item.list-item
                span.list-item__num 21
                span.list-item__text
                  | Разбор реального кейса одного из слушателей
              li.configuration__browser--item.list-item
                span.list-item__num 22
                span.list-item__text
                  | 3 секретные фишки ведения
              li.configuration__browser--item.list-item
                span.list-item__num 23
                span.list-item__text
                  | Ужасная ошибка большинства рекламодателей
              li.configuration__browser--item.list-item
                span.list-item__num
                  | --&nbsp;
                span.list-item__text
                  | Ответы на вопросы слушателей.

    section.video
      .wrapper.video__wrapper
        iframe.video__iframe(src="http://www.youtube.com/embed/K440S10l4uI?autoplay=0")

        .video__info.video-info
          .video-info__top
            h3.video-info__top--watch
              | Посмотрите вырезку:
            h4.video-info__top--choose
              | Отрывок из вебинара по ведению и аналитике Яндекс.Директ 2.0
            p.video-info__top--text
              | А/В тестирование

          .video-info__bottom
            p.video-info__bottom--like
              | Понравился видео-урок? Жми лайк и расскажи о нем своим друзьям:
            ul.video-info__bottom--socials.socials
              li.socials__item.socials__item--vk
                a.socials__item--link(href="")
                  | ВКонтакте
              li.socials__item.socials__item--fb
                a.socials__item--link(href="")
                  | Фейсбук
              li.socials__item.socials__item--tw
                a.socials__item--link(href="")
                  | Твиттер

    section.course-for
      wrapper.wrapper
        header.course-for__header
          | Дополнительные выгоды при покупке:

          ul.course-for-list

            li.course-for-list__item.answer
              .course-for-list__item--wrapper
                header.course-for-list__item--header
                  | Отвечу на любой вопрос по вебинару.

            li.course-for-list__item.pay
              .course-for-list__item--wrapper
                header.course-for-list__item--header
                  | Если вы решите учиться у меня, оплаченная
                  br
                  |за вебинар сумма будет вычтена из стоимости курса!

            li.course-for-list__item.newLessons
              .course-for-list__item--wrapper
                header.course-for-list__item--header
                  | Бесплатный доступ к следующим версиям вебинара
                  br
                  | (обновление раз в год, ближайшее - май 2016)

    section.test
      .test__wrap
        header.test__header
          h3.test__head
            | Цена вебинара - 4900 Р
        p.test__text
          | 5-часовая запись настройки рекламной кампании с
          br
          |комментариями Филиппа Царевского
        a.btn.btn--main.btn--cta.test__btn(href="")
          | Купить

    section.comment
      wrapper.wrapper.comment__wrapper
        header.comment--header
          h4.comment--head
            | Отзывы

        .comment--wrapper.clearfix

          a.comment--move.move-back(href="") Назад

          .comment--comment.about-comment
            .about-comment__wrapper

              .about-comment__image.clearfix
                img.about-comment__image-pic(src="./img/comments/web-1.jpg" alt="Комментарий")

              .about-comment__text
                header.about-comment__text--head
                  | Всё на высшем уровне.
                p.about-comment__text--par
                  | Вебинар классный и качественный! Такие новые фишки, тесты, соображения, разработки - может делать только тот человек, кто отдает себя на 100% директу! Но мало отдавать себя полностью директу, нужно еще это все и уметь запоминать, применять правильно, тестировать, а так же досконально донести до слушателей! Спасибо тебе, Филипп, за свои наработки, идеи и за то, что делишься ими с нами! Все на высшем уровне!

                p.about-comment__text--author
                  | – Иван Харитонов

            nav.about-comment__nav
              .about-comment__nav--wrapper
                a.about-comment__nav--link.active(href="")
                  | 1
                a.about-comment__nav--link(href="")
                  | 2
                a.about-comment__nav--link(href="")
                  | 3
                a.about-comment__nav--link(href="")
                  | 4

          a.comment--move.move-foward(href="") Вперёд

    footer.footer
      include ../_common/_footer__navbar
