doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
			
		//IE
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		
		//SEO
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="")

		//fonts
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,cyrillic")

		//styles
		link(rel="stylesheet", type="text/css" href="css/style.css")
		
		//Title
		title Direct All-in

	body
		include _common/_header
		block main-content


		include _common/_footer

		script(src="js/main.js")
		block personalScript
