@laptop: ~"only screen and (max-width: 1025px)";
@tablet: ~"only screen and (max-width: 769px)";

.about-speaker {
  @media @laptop {
    &__wrap {
      padding-top: 110px;
    }

    &__header {
      &--right {
        width: 630px;
      }

      .speaker-descr {
        &__name {
          font-size: 50px;
          margin: 5px 0 0;
        }

        &__text {
          width: 100%;
          font-size: 16px;
          margin-bottom: 20px;

          &:first-of-type {
            margin-bottom: 30px;
            font-size: 20px;
          }
        }
      }
    }

    &--subscribe {
      .about-speaker__header--right {
        width: 600px;
      }
    }

    &__quote {
      &--text {
        margin: 0 0 20px;
      }
    }
  }
}

.course-for {
  @media @laptop {
    padding: 40px 0;

    &__header {
      padding-top: 0;
    }

    &-list {
      width: 650px;
    }

    &-list-item {
      margin: 50px 0;

      &:first-of-type {
        margin-top: 50px;
      }
    }

    &--no-padding-bottom {
      padding-bottom: 0;
    }
  }
}

.get-course {
  @media @laptop {
    padding: 45px 0;
  }

  @media @tablet {
    padding: 0 0 60px 32px;

    &__details {
      max-width: 480px;
    }

    &--subscribe {
      .get-course__input-text {
        margin: 0 auto 24px;
      }
    }
  }
}

.yandex-course {
  @media @laptop {
    padding-top: 60px;
  }

  @media @tablet {
    &__call {
      margin-bottom: 15px;
    }
    &__feedback {
      margin-top: 30px;
      font-size: 24px;
    }
    &__by {
      font-size: 18px;
    }
  }
}

.subscription {
  @media @tablet {
    background: #0f3c5b url(../img/subscriptions/test.png) repeat 50% 50%;
    background-size: 100%;

    &__wrap {
      flex-wrap: wrap;
    }

    &__column {
      &--left,
      &--right {
        width: 100%;
      }
    }
  }
}

.form {
  @media @tablet {
    text-align: center;
  }
}
