@laptop: ~"only screen and (max-width: 1025px)";
@tablet: ~"only screen and (max-width: 769px)";

.effective {
  @media @laptop {
    &__header {
      padding-top: 80px;
    }

    &__left {
      padding-right: 40px;
    }

    &__h3 {
      font-size: 29px;
    }

    &-content {
      background-position: 50% -77px;
      padding-top: 45px;
    }
  }

  @media @tablet {
    &__header {
      padding-top: 60px;
    }
    &__wrap {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__left {
      order: 2;
    }
    &__right {
      order: 1;
      padding: 0 30px;
      margin-bottom: 35px;
    }
    &__h3 {
      text-align: center;
      font-size: 30px;
    }

    &-content {
      background: #fff;
      padding-top: 25px;

      &__header {
        box-sizing: border-box;
        border: 2px dashed #c2e0f3;
        border-radius: 30px;
        width: 590px;
        margin: 0 auto 40px;
        padding: 25px 20px;
      }

      &__flex {
        padding-bottom: 35px;
      }
    }
  }
}

.video {
  @media @laptop {
    &__wrap {
      padding: 60px 20px;
    }

    &__iframe {
      width: 630px;
      height: 380px;
    }

    &-info {
      width: 330px;
      min-height: 380px;

      &__top {
        &--watch {
          font-size: 30px;
          margin: 0;
        }
        &--choose {
          font-size: 20px;
          margin: 0 0 25px;
        }
        &--text {
          margin: 25px 0;
        }
      }

      &__bottom {
        &--like {
          font-size: 16px;
        }
      }
    }
  }
}

.better {
  @media @laptop {
    &__head {
      font-size: 30px;
      margin: 15px 0 29px;
    }

    .quote {
      box-sizing: border-box;
      width: 500px;
      padding: 20px 25px;
      background-size: 100%;

      &__text {
        margin: 0 0 5px;
      }

      &__quote {
        font-size: 20px;
        margin-bottom: 10px;
      }

      + .better__list {
        padding: 0 0 0 20px;
      }
    }

    &__list {
      padding: 40px 0 0;
    }
  }
}

.test {
  @media @laptop {
    &__header {
      padding: 0 30px;
    }

    &__head {
      font-size: 28px;
    }

    &__text {
      padding: 110px 0 45px;
    }

    &__wrap {
      height: auto;
      padding-bottom: 80px;
    }
  }

  @media @tablet {
    &__head {
      padding: 0 20px;
      font-size: 24px;
      margin: 15px 10px;
    }
    &__text {
      padding: 90px 0 45px;
    }
    &__wrap {
      padding-bottom: 70px;
    }
  }
}

.about-speaker {
  @media @laptop {
    &__wrap {
      padding-top: 110px;
    }

    &__header {
      &--right {
        width: 630px;
      }

      .speaker-descr {
        &__name {
          font-size: 50px;
          margin: 5px 0 0;
        }

        &__text {
          width: 100%;
          font-size: 16px;
          margin-bottom: 20px;

          &:first-of-type {
            margin-bottom: 30px;
            font-size: 20px;
          }
        }
      }
    }

    &--subscribe {
      .about-speaker__header--right {
        width: 600px;
      }
    }

    &__quote {
      &--text {
        margin: 0 0 20px;
      }
    }
  }
}

.course-for {
  @media @laptop {
    padding: 40px 0;

    &__header {
      padding-top: 0;
    }

    &-list {
      width: 650px;
    }

    &-list-item {
      margin: 50px 0;

      &:first-of-type {
        margin-top: 50px;
      }
    }

    &--no-padding-bottom {
      padding-bottom: 0;
    }
  }
}

.get-course {
  @media @laptop {
    padding: 45px 0;
  }

  @media @tablet {
    padding: 0 0 60px 32px;

    &__details {
      max-width: 480px;
    }

    &--subscribe {
      .get-course__input-text {
        margin: 0 auto 24px;
      }
    }
  }
}

.yandex-course {
  @media @laptop {
    padding-top: 60px;
  }

  @media @tablet {
    &__call {
      margin-bottom: 15px;
    }
    &__feedback {
      margin-top: 30px;
      font-size: 24px;
    }
    &__by {
      font-size: 18px;
    }
  }
}

.subscription {
  @media @tablet {
    background: #0f3c5b url(../img/subscriptions/test.png) repeat 50% 50%;
    background-size: 100%;

    &__wrap {
      flex-wrap: wrap;
    }

    &__column {
      &--left,
      &--right {
        width: 100%;
      }
    }
  }
}

.form {
  @media @tablet {
    text-align: center;
  }
}
