@media only screen and (max-width: 1200px) {

  .header {
    min-width: 1200px;
  }

  .footer {
    min-width: 1200px;
  }

  .subscription {
    background: #0f3c5b;

    &__wrap {
      background: url(../img/subscriptions/bg.jpg) 50% 100%;
    }
  }

  .video {
    background: #0f3c5b;

    &__wrapper {
      background: #0f3c5b url(../img/subscriptions/video.jpg) -30px -203px;
    }
  }

  .better {
    background: #fff;

    &__wrap {
      background: url(../img/calmness/calmness-light-bg.png) no-repeat 50% 0;
    }
  }

  .test {
    background: #0f3c5b;

    &__wrap {
      background: url(../img/subscriptions/test.png) 50% 50%/cover;
    }
  }

  .about-speaker {
    background: #fff;

    &__wrapper {
      background: url(../img/founder/founder-texture-top-x.png) 0 1px repeat-x, linear-gradient(to bottom, transparent 85%, #fff 100%), url(../img/founder/founder-texture-bg.png) 0 0 repeat;
    }
  }

  .subscribe-course {
    background: #0f3c5b;

    &__wrapper {
      background: #0f3c5b url(../img/subscriptions/subscribe-bg.jpg) top;
    }
  }

  .webinar {

    &__header {
      background: #0f3c5b;

      &--wrapper {
        background: #0f3c5b url(../img/bg-adwords-feedback.png) no-repeat 50% 50%/cover;
      }
    }

    &__flex {
      &--right {
        padding-right: 15px;
      }
    }

    .comment {
      background: #f8f8f8;

      &__wrapper {
        background: #f8f8f8 url(../img/included-web.png) 50% 0 no-repeat;
      }
    }
  }

  .achieve {
    background: #fafafa;

    &__wrapper {
      background: #fafafa url(../img/configuration-top-bg.png) no-repeat 50% 0;
    }
  }

  .configuration {
    padding-top: 0;
    background: no-repeat 50% 0, linear-gradient(180deg, #fafafa 0, #fafafa 34px, #f9f9f9 34px, #f9f9f9 101px, #f8f8f8 101px, #f8f8f8 473px, transparent 474px, transparent 100%);

    .adwords-wrap {
      padding-top: 60px;
      background: url(../img/configuration-top-bg.png) no-repeat 50% 0, linear-gradient(180deg, #fafafa 0, #fafafa 34px, #f9f9f9 34px, #f9f9f9 101px, #f8f8f8 101px, #f8f8f8 473px, transparent 474px, transparent 100%);
    }
  }

  .portfolio {

    &__header {
      width: 1200px;
    }
  }

  .clients {
    background: #fff;

    &__wrapper {
      background: #fff url(../img/calmness/calmness-light-bg.png) center no-repeat;
    }
  }

  .clients__thnx {
    background: #fafafa;

    &--wrapper {
      background: #fafafa url(../img/portfolio/thnx-bg.png);
    }
  }

  .clients__case {
    background: #fff;

    &--wrapper {
      background: #fff url(../img/portfolio/thnx-bg.png) no-repeat top center;
    }
  }

  .faq {
    &__questions {
      background: #fff;

      &--wrapper {
        background: #fff url(../img/calmness/calmness-light-bg.png) 50% 0 no-repeat;
      }
    }
  }
}
