.achieve {
  background: url(../img/bgArrowsGeometry.svg) 50% 0 ~"/100%" no-repeat;
  padding-bottom: 250px;

  &__wrapper {
    padding: 120px 0 0;
  }

  &__header {
    font-size: 34px;
    line-height: 38px;
    text-align: center;
  }

  &__flex {
    display: flex;
    margin-top: 75px;

    justify-content: space-around;
    flex-direction: row;

    &--item {
      display: block;

      width: 165px;
    }

    &--wrapper {
      display: block;
      position: relative;

      width: 140px;
      height: 140px;

      background-color: #fff;
      border-radius: 50%;
      margin: 0 auto;
    }

    &--img {
      display: block;
      position: absolute;

      width: 65px;
      height: 65px;

      top: 50%;
      left: 50%;

      margin-top: -32px;
      margin-left: -32px;
    }

    &--text {
      margin: 25px 0 0;

      text-align: center;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
