@import "__mixins";

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.adwords-founder {
  padding-top: 184px;
  padding-bottom: 130px;
  &__wrap { .wrap }

  &__head {
    &-image { float: left; }

    &-texts {
      float: left;
      margin-left: 61px;
      max-width: 625px;
    }

    &-pre {
      margin:24px 0;
      font-size: 16px;
    }

    &-title {
      font-size: 43px;
      font-weight: 500;
      margin-top: 21px;
      margin-bottom: 12px;
    }

    &-subtitle {
      margin: 0;
      margin-bottom: 43px;
    }
  }

  &__achivements {
    h3 { text-align: center; }

    &-left {
      float: left;
      padding-left: 196px;
      max-width: 196*2px;
      margin-right: 61px;
      box-sizing: border-box;

      &-item {
        margin-bottom: 44px;

        &-digit {
          border-bottom: 3px solid #338bc3;
          font-size: 42px;
          font-weight: 500;
          margin-bottom: 3px;
        }

        .red-line {border-color: #ff2f4f; }
        .light-blue-line {border-color: #8fc6e9; }

        &-text { margin-top: 3px; }
      }
    }

    &-right {
      float: left;
      max-width: 625px;

      &-item {
        padding-left: 37px;
        position: relative;
        margin-top: 0;
      }
      &-item::before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #338bc3;
      }
    }
  }

  &__reviews {
    margin-bottom: 41px;
    &-title { text-align: center; }

    &-item {
      max-width: 955px;
      box-sizing: border-box;
      margin: 10px auto;
      border-radius: 23px;
      border: 1px solid #e7e7e7;
      background: #fff;
      position: relative;

      &-pagination-prev, &-pagination-next, {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #ececec;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        box-sizing: border-box;
        text-align: center;
        line-height: 52px;
        color: #d0d0d0;
        font-size: 0px;
        background: url('../img/reviews-sprt.png') no-repeat 0 0;

        &:hover { border-color: #338bc3; }
        &:active { border-color: #b7e0ff; }
      }
      &-pagination-prev {
        left: -87px;
        &:hover { background-position: 0 -50px; }
        &:active { background-position: 0 -100px; }
      }
      &-pagination-next {
        right: -87px;
        background-position: -100px 0;
        &:hover { background-position: -100px -50px; }
        &:active { background-position: -100px -100px; }
      }

      &-image {
        float: left;
        max-width: 294px;
        min-width: 225px;
        box-sizing: border-box;
        padding-left: 7.75%;
        padding-right: 5.34%;
        padding-top: 49px;

        img { border-radius: 50%; }

        &::before {
          content: '';
          position: absolute;
          top: 38px;
          left: 3.77%;
          width: 33px;
          height: 28px;
          background: url('../img/reviews-sprt.png') no-repeat -59px -11px;
        }
      }

      &-texts {
        float: right;
        max-width: 610px;
        margin-right: 5.235%;
        padding-top: 40px;

        &-title, &-text, &-author { margin: 0; }
        &-title, &-author { font-weight: 600; }
        &-title { margin-bottom: 12px; }
        &-text { margin-bottom: 26px; }
      }

      &-slider {
        font-size: 0px;
        text-align: center;
        display: block;
        width: 100%;
        clear:both;
        padding: 22px 0;

        &-radio { display: none; }

        &-point {
          display: inline-block;
          width: 12px;
          height: 12px;
          background: #f2f2f2;
          margin: 0 3px;
          border-radius: 50%;
          cursor: pointer;
        }

        #review-1:checked ~ &-point[for='review-1'] { background: #368cc3; }
        #review-2:checked ~ &-point[for='review-2'] { background: #368cc3; }
        #review-3:checked ~ &-point[for='review-3'] { background: #368cc3; }
        #review-4:checked ~ &-point[for='review-4'] { background: #368cc3; }

      }
    }
  }

  &__videos {
    margin-top: 70px;

    &-title { text-align: center; }
    &-block {
      &-item {
        float: left;
        width: 328px;
        margin: auto 24/1200*100%;

        &-text {
          text-align: center;
          margin: 0;
        }
      }
      &-item:nth-of-type(2n) { margin: auto 60/1200*100%; }
    }
  }
}
