.effective {
  color: #000;

  .border-dash-top;

  &__header {
    background: url("../img/calmness/calmness-light-bg.png") no-repeat 50% 10px;
    padding-top: 95px;

    @media @laptop {
      padding-top: 80px;
    }

    @media @tablet {
      padding-top: 60px;
    }

    @media @mobileSmall {
      padding-top: 30px;
    }
  }

  &__wrap {
    .wrap();
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media @tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__left {
    width: 296px;
    padding-left: 40px;
    padding-right: 60px;

    @media @laptop {
      padding-right: 40px;
    }

    @media @tablet {
      order: 2;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__right {
    width: 760px;

    @media @tablet {
      order: 1;
      padding: 0 30px;
      margin-bottom: 35px;
    }

    @media @mobileLarge {
      padding: 0;
    }

    @media @mobileSmall {
      margin-bottom: 15px;
    }
  }

  &__h3 {
    margin: 0 0 22px;
    font-size: 34px;
    line-height: 1.44;

    @media @laptop {
      font-size: 29px;
    }

    @media @tablet {
      text-align: center;
      font-size: 30px;
    }

    @media @mobileLarge {
      font-size: 28px;
    }

    @media @mobileSmall {
      font-size: 20px;
    }
  }

  &__text {
    margin: 0 0 12px;
    font-size: 18px;

    @media @mobileSmall {
      font-size: 14px;
    }
  }
}
