.faq {

  &__wrap {
    .wrap();
  }

  &__questions {
    display: block;

    background: #fff url(../img/calmness/calmness-light-bg.png) 50% 0 no-repeat;

    &--wrapper {
      padding: 80px 0;
    }

    &--list {
      display: block;
      margin: 0 auto;

      width: 814px;

      text-align: left;
    }

    &--item {
      display: block;

      margin: 0;
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
