@import "__mixins";

.footer {
  background: #232d57 url(../img/bg-footer.jpg) no-repeat 50% 50%/cover;
  color: #fff;

  &__wrap {
    .wrap;
  }

  &__nav {
    background-color: fade(#000, 20%);
    padding-bottom: 30px;

    h4 {
      font-size: 18px;
      margin-bottom: 15px;
    }

    h5 {
      font-size: 14px;
    }

    li {
      margin: 0;
      font-size: 13px;
    }

    li li {
      margin: 5px 0;
    }

    a {
      color: #c3c3c3;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__p {
    color: #d2b9de;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__nav-item {
    display: flex;
    justify-content: space-between;
  }

  &__call-us {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;

    &--big {
      .footer__title {
        font-size: 34px;
        line-height: 38px;
        margin: 30px 0 40px;

        & > small {
          display: block;
          margin-top: 5px;
          font-size: 20px;
        }
      }
    }

    &--portfolio {
      .footer__call-us-title {
        margin: 0 0 40px;
        font-size: 24px;
      }
    }
  }

  &__title {
    margin-bottom: 60px;
    font-size: 22px;
  }

  &__submit {
    margin: 20px 0;
    outline: none;

    &--big {
      margin: 34px 0;
    }
  }

  &__navbar {
    background-color: #fff;
    color: #393939;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;

    a {
      color: #393939;

      &:hover {
        text-decoration: none;
      }
    }

    p,
    li {
      margin: 0;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }

    .social {
      color: #959595;

      a {
        margin-right: 10px;
        opacity: .5;
        transition: opacity .3s;

        &:hover {
          opacity: .9;
        }
      }
    }
  }

  &__navbar-contacts {
    font-size: 17px;

    &--mail::before,
    &--tel::before {
      content: " ";
      display: inline-block;

      width: 20px;
      height: 20px;

      background: center no-repeat;
      background-size: contain;

      margin-right: 10px;
      vertical-align: bottom;
    }

    &--mail::before {
      background-image: url(../img/icons/_Footer_mail_icon.svg);
    }

    &--tel::before {
      background-image: url(../img/icons/_Footer_phone_icon.svg);
    }
  }
}
