.form {
  &__text {
    padding: 12px 15px;
    outline: none;
    border: 1px solid fade(#fff, 33%);
    border-radius: 5px;
    background-color: fade(#fff, 10%);
    color: #fff;
    font-size: 17px;
    transition: background-color .1s cubic-bezier(0.42, 0, 0.58, 1);


    &:focus { background-color: fade(#fff, 20%); }
  }
}