.get-course {
  padding: 60px 0;
  color: #fff;

  &__header {
    line-height: 1;
    font-size: 28px;
    margin: 15px 0 0;
  }

  .yandex-course__logo {
    margin-top: 30px;
  }

  &__logo {
    display: block;
    margin: 20px 0 10px;

    font-family: "PT Sans Narrow", "Open Sans", arial, sans-serif;
    font-size: 80px;
    line-height: 80px;

    &::first-letter {
      color: #ff0c0c;
    }
  }

  &__name {
    display: block;
    margin: 5px 0;

    font-family: "PT Sans Narrow", "Open Sans", arial, sans-serif;
    font-size: 55px;
    line-height: 55px;

    &--big {
      font-size: 75px;
      line-height: 75px;
    }

    &--small-line {
      line-height: 50px;
      margin-top: 20px;
    }
  }

  &__text {
    display: block;
    font-size: 25px;
    line-height: 36px;
    margin: 30px 0 36px;
  }

  &__small {
    display: block;
    font-size: 18px;
    line-height: 24px;
    margin: 45px 0 0;
  }

  &__big {
    display: block;
    font-size: 34px;
    margin: 0 0 20px;
  }

  &__details {
    padding: 5px 0 5px 18px;
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.3;
    border-left: 2px solid rgb(255, 47, 79);

    &.details--no-border {
      border: none;
      padding-left: 0;
    }
  }

  &--subscribe {
    padding-left: 20px;

    .get-course__header {
      font-size: 25px;
      margin: 2px 0 0;
    }

    .get-course__details {
      margin: 30px 0 38px;
      font-size: 18px;
      line-height: 24px;
    }

    .get-course__input-text {
      margin: 0 0 24px;
      padding: 18px 20px;
    }
  }

  &--webinar {
    padding: 18px 0 50px;

    .get-course__details {
      padding-bottom: 16px;
      padding-left: 20px;
      margin-top: 33px;
    }

    .get-course__btn {
      margin-left: 0;
    }
  }

  &--coach {
    padding: 70px 0 70px 25px;

    .get-course__header {
      font-size: 27px;
      margin: 0;
    }

    .get-course__details {
      margin: 10px 0 25px;
    }

    .get-course__input-text {
      margin: 0 0 12px;
      padding: 18px 26px;

      &--margin {
        margin-bottom: 24px;
      }
    }
  }

  &--padding {
    padding: 75px 10px 60px;
  }
}
