.get-course {
  padding: 60px 0;
  color: #fff;

  &__header {
    line-height: 1;
    font-size: 28px;
    margin: 15px 0 0;
  }

  .yandex-course__logo {
    margin-top: 30px;
  }

  &__details {
    padding: 5px 0 5px 18px;
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.3;
    border-left: 2px solid rgb(255, 47, 79);
  }

  &--subscribe {
    padding-left: 0 0 74px 14px;

    .get-course__header {
      font-size: 25px;
      margin: 2px 0 0;
    }

    .get-course__details {
      margin: 23px 0;
      font-size: 17px;
      line-height: 1.44;
    }

    .get-course__input-text {
      margin: 0 0 24px;
      padding: 18px 20px;
    }
  }

  &--webinar {
    padding: 18px 0 50px;

    .get-course__details {
      padding-bottom: 16px;
      padding-left: 20px;
      margin-top: 33px;
    }

    .get-course__btn {
      margin-left: 0;
    }
  }
}
