@import "__mixins";

.header {
  overflow: hidden;
  background: #0e3b5a url(../img/bg-header.png) no-repeat 50% 50%/cover;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }

  &__navbar {
    padding-top: 20px;
    background-color: fade(#000, 50%);

    &--padding {
      padding-bottom: 10px;
    }
  }

  &__wrap {
    .wrap();

    display: flex;
    justify-content: space-between;
  }

  &__phone {
    &:hover {
      .header__callback {
        text-decoration: none;
      }
    }
  }

  &__callback {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 14px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: url(../img/icons/header_phone_icon.svg) no-repeat 50% 50%/cover;
      width: 18px;
      height: 18px;
    }
  }

  &__title {
    margin-top: 65px;
    margin-bottom: 85px;
    text-align: center;
    font-size: 52px;

    > small {
      display: block;
      font-size: 29px;
    }

    &--big {
      & > small {
        display: block;
        margin: 0 auto;

        width: 814px;

        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}
