.header {
  overflow: hidden;
  background: #0e3b5a url(../img/bg-header.png) no-repeat 50% 50%/cover;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }

  &__navbar {
    padding-top: 20px;
    background-color: fade(#000, 50%);

    &--padding {
      padding-bottom: 10px;
    }
  }

  &__wrap {
    .wrap();

    display: flex;
    justify-content: space-between;

    @media @mobileSmall {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__phone {
    @media @mobileSmall {
      display: none;
    }

    &:hover {
      .header__callback {
        text-decoration: none;
      }
    }
  }

  &__callback {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 14px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: url(../img/icons/header_phone_icon.svg) no-repeat 50% 50%/cover;
      width: 18px;
      height: 18px;
    }
  }

  &__title {
    margin-top: 65px;
    margin-bottom: 85px;
    text-align: center;
    font-size: 52px;

    @media @tablet {
      font-size: 48px;
    }

    @media @mobileLarge {
      font-size: 40px;
      line-height: 50px;
      margin: 45px 0 60px;
    }

    @media @mobileSmall {
      font-size: 35px;
      line-height: 45px;
      margin: 35px 0 40px;
    }

    > small {
      display: block;
      font-size: 29px;
    }

    &--big {
      & > small {
        display: block;
        margin: 0 auto;

        width: 814px;

        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        text-align: center;

        @media @tablet {
          width: 100%;
          box-sizing: border-box;
          padding: 0 25px;
        }

        @media @mobileLarge {
          padding: 0 20px;
          margin-top: 15px;
        }

        @media @mobileSmall {
          padding: 0 15px;
        }
      }
    }
  }
}
