.included {
  position: relative;
  clear: both;
  padding-top: 35px;
  padding-bottom: 60px;
  // background: #f7f9fa linear-gradient(to bottom, #f6f8fa 0%, #fff 50%, #fff 100%); //TODO: check out where else it is used
  background: #fff url(../img/included-web.png) 50% 0 no-repeat;

  &__wrap { .wrap; }

  &__title {
    .title-dotted;
    margin-top: 125px;
    margin-bottom: 60px;
    font-size: 35px;
  }

  &__features {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  &__feature {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 35px;
    font-size: 14px;
    flex: 0 0 45%;

    &::before {
      top: 20px;
      position: absolute;
      display: block;
      width: 80px;
      height: 80px;
      border: 1px solid #ebebeb;
      border-radius: 50%;
      content: " ";
      background: center no-repeat;
      background-size: 40px;
    }

    &-interview::before { background-image: url(../img/icons/user_speach.svg); }
    &-audit::before { background-image: url(../img/icons/icon_diagram_1.svg); }
    &-consulting::before { background-image: url(../img/icons/tie.svg); }
    &-month::before { background-image: url(../img/icons/calendar_1month.svg); }
    &-star::before { background-image: url(../img/icons/molecular.svg); }
    &-target::before { background-image: url(../img/icons/target.svg); }

    &:nth-child(2n+1) {
      padding-right: 100px;
      text-align: right;

      &::before { right: -10px; }
    }

    &:nth-child(2n) {
      padding-left: 100px;

      &::before { left: -10px; }
    }

    h6,
    p { margin: 10px 0; }
  }
}
