.info-block {
  margin: -110px 0 0;
  padding: 110px 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #e3e3e3 50%, #bebebe 50%, rgba(255, 255, 255, 0));

  &--larger-padding {
    padding: 170px 0;
    margin-top: -170px;

    @media @tablet {
      padding: 140px 0;
      margin-top: -140px;
    }

    @media @mobileLarge {
      padding: 0;
      margin: 0 0 60px;
      background: #fff;
    }
  }

  &__wrapper {
    .wrap();

    position: relative;
    padding: 0 44px;

    @media @mobileLarge {
      padding: 0 20px;
    }
  }


  &__border {
    display: block;
    position: absolute;

    height: 100%;
    top: 0;

    @media @mobileLarge {
      display: none;
    }

    &:first-of-type {
      left: 0;
    }

    &:last-of-type {
      right: 0;
      transform: rotate(180deg);
    }
  }

  &__text {
    display: block;
    position: relative;

    padding: 40px 80px;
    background: #fff;

    @media @tablet {
      padding: 30px;
    }

    @media @mobileLarge {
      padding: 0;
    }

    &--small-padding {
      padding: 10px 80px;
    }

    &--par,
    &--author {
      display: block;

      margin: 25px 0 0 0;

      font-size: 18px;
      line-height: 24px;

      b {
        font-weight: bold;
      }
    }

    &--author {
      font-style: italic;
    }

    &--big {
      display: block;
      margin: 25px 0;

      font-size: 22px;
      line-height: 32px;

      text-align: center;
      color: #000;

      @media @tablet {
        font-size: 20px;
      }

      @media @mobileLarge {
        font-size: 18px;
        margin: 0;
      }
    }

    &--bold {
      font-weight: bold;
    }

    &--italic {
      font-style: italic;
    }
  }
}
