.portfolio {
  color: #000;

  &__header {
    background: url("../img/portfolio/header-bg.jpg") center;
    display: block;
    height: 265px;

    &--text {
      display: block;
      font-size: 52px;
      line-height: 54px;
      margin: 0;
      padding-top: 100px;
      color: #fff;
      text-align: center;
    }
  }
}
