@import "__mixins"; // TODO: move all imports to style

.price {
  padding-top: 35px;
  border-top: 1px solid #f0f2f4;
  background: #f7f9fa linear-gradient(to bottom, #f6f8fa 0%, #fff 50%, #fff 100%);

  article,
  aside { float: left; }

  article { width: 77%; }

  &__wrap { .wrap; }

  &__title {
    .title-dotted;
    margin-top: 55px;
  }

  &__arguments-block {
    padding-left: 100px;
    box-sizing: border-box;
  }

  &__list {
    li::before {
      display: inline-block;
      margin: -2px 8px 0 2px;
      color: #338bc3;
      content: "●";
      vertical-align: top;
      font-size: 21px;
    }
  }

  &__feature {
    width: 160px;
    height: 160px;
    padding: 40px;
    text-align: center;
    border-radius: 50%;
    border: 2px dashed #ebebeb;
    margin: 0;
    margin-bottom: 25px;

    img {
      margin: 10px auto;
    }
  }
}
