@import "__mixins";

.wrap { .wrap; }

.questions {
  padding-bottom: 48px;

  background: url("../img/faq-bg.svg") 95% 0 no-repeat;

  &__title {
    text-align: center;
  }

  &__content {
    max-width: 820px;
    margin: 10px auto;
  }

  &__item {
    &-title {
      font-size: 21px;
      font-weight: 500;

      span {
        padding: 0 0 7px;

        border-bottom: 2px dashed #ff4c66;
      }
    }

    &-text {
      margin: 25px 0 32px;

      font-size: 18px;
    }
  }

  &__button {
    box-sizing: border-box;
    width: 220px;
    margin: 40px auto 0;
  }
}
