.services-list {
  background: #f8f8f8 url("../img/services-list/grey-dots-bg.png") no-repeat 0% 0;
  padding: 50px 0 25px;

  &__title {
    text-align: center;

  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__item {
    display: block;
    width: 184px;

    margin-bottom: 0;

    &::before {
      content: "";

      display: block;

      width: 145px;
      height: 145px;

      margin: 0 auto;

      border-radius: 50%;
      background: #fff url(../img/icons/emc.svg) no-repeat center;
      background-size: 40%;
    }

    &-text {
      font-size: 18px;
      text-align: center;
      margin: 20px 0 0;
    }

    &--steering::before {
      background-image: url(../img/icons/steering.svg);
    }

    &--complex::before {
      background-image: url(../img/icons/adW_complex.svg);
      background-size: 60%;
    }

    &--google::before {
      background-image: url(../img/icons/adW_google.svg);
      background-size: 60%;
    }

    &--yandex::before {
      background-image: url(../img/icons/adW_yandex.svg);
      background-size: 60%;
    }

    &--emc::before {
      background-image: url(../img/icons/emc.svg);
    }
  }
}
