.study-format {

  &__wrap {
    .wrap();
    padding: 0 0 100px;
  }

  &__header {
    display: block;
    position: relative;

    margin: 0 0 60px;
    text-align: center;

    &--name {
      display: inline-block;

      padding: 0 10px 15px;
      border-bottom: 2px dotted fade(#e7e2c7, 70%);

      font-size: 32px;
    }
  }

  &__flex {
    display: flex;
    position: relative;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &--item {
      display: flex;
      position: relative;

      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      box-sizing: border-box;

      width: 45%;

      padding: 0 20px;
      margin-top: 40px;

      &:first-of-type,
      &:nth-of-type(2) {
        margin-top: 0;
      }

      p {
        display: block;
        position: relative;

        margin: 0 0 0 30px;
        padding: 20px 0;

        max-width: 70%;
      }
    }


    &--img {
      display: block;
      position: relative;

      width: 90px;
      height: 90px;

      border-radius: 50%;
      border: 2px solid #ccc;

      background: #fff;

      img {
        display: block;
        position: absolute;

        width: 60%;
        height: 60%;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
      }
    }
  }
}
