@import "__mixins";
@import "_subscription/_main";
@import "_subscription/_effective";
@import "_about-speaker";
@import "_subscription/_subscribe_course";

.subscription {
  background: url(../img/subscriptions/bg.jpg) 50% 100% #0f3c5b;

  color: #fff;
  .box-sizing();

  &__wrap {
    .wrap();
  }

  &__column {
    &--left {
      float: left;
      width: 50%;
    }
    &--right {
      float: right;
      width: 40%;
    }
  }

  .get-course {
    padding-left: 14px;
    padding-bottom: 74px;

    &__header {
      font-size: 25px;
      margin: 0;
      margin-top: 2px;
    }

    &__details {
      margin: 23px 0;
      font-size: 17px;
      line-height: 1.44;
    }

    &__input-text {
      margin-bottom: 24px;
      margin-top: 0;
      padding: 18px 20px;
    }
  }

  .about-speaker {

    &__header--right {
      width: 800px;
      box-sizing: border-box;
      padding-left: 10px;
    }
  }
}
