.subscription {

  color: #fff;
  .box-sizing;

  .header-bg;

  &__wrap {
    .wrap();
  }

  &__column {
    &--left {
      float: left;
      width: 50%;
    }
    &--right {
      float: right;
      width: 40%;
    }
  }

  &__img {
    margin-top: 60px;
  }
}
