.teacher {
  background: #0f3c5b url(../img/bg-teacher.png) no-repeat 50% 50%/cover;

  &__wrap {
    .wrap();
  }

  &__flex {
    display: flex;
    position: relative;

    flex-direction: row;
    justify-content: space-between;

    &--block {
      display: block;
      position: relative;

      box-sizing: border-box;
      width: 45%;

      overflow: visible;
    }
  }

  &__text {
    width: 55%;
    color: #fff;
    padding: 60px 0 0 77px;

    &--rule {
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 17px;
    }

    &--name {
      font-size: 54px;
      line-height: 60px;
      margin: 0 0 24px;
    }

    &--par {
      font-size: 18px;
      line-height: 23px;
      margin: 0 0 30px;
      padding: 0 0 0 5px;

      &:last-of-type {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__img {
    display: block;
    position: relative;

    //bottom: 25px;
    bottom: 0;
    //left: 16px;
    left: 0;

    //transform: scale(1.08);

    width: 80%;
  }
}
