@import "_webinar/_header";
@import "_webinar/_achieve";

.webinar {
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .get-course {
    padding-top: 18px;
    padding-bottom: 50px;

    &__details {
      padding-bottom: 16px;
      padding-left: 20px;
      margin-top: 33px;
    }
  }

  .header__navbar {
    padding-bottom: 10px;
  }

  .about-speaker {

    background: url(../img/calmness/calmness-light-bg.png) no-repeat 50% 0/cover;

    &__wrapper {
      padding-top: 70px;

      &::before {
        content: "";
        display: none;
      }
    }
  }

  .video { //блок перекрывает предыдущий и z-index не спасает
    display: block;
    background: #fff url(../img/video-bg.png) no-repeat 50% 50%/cover;

    //margin-top: -100px;

    &-info__top {
      &--watch {
        font-size: 34px;
        margin-bottom: 26px;
      }
      &--choose {
        font-size: 24px;
        line-height: 36px;
        font-weight: normal;
        margin-bottom: 20px;
      }

      &--text {
        font-size: 24px;
      }
    }
  }

  .course-for {
    background: url(../img/calmness/calmness-light-bg.png) no-repeat 50% 0;

    &-list::before {
      background-image: url(../img/decoration/blue-line.png);
    }
  }

  .comment {
    display: block;
    background: #f8f8f8 url(../img/included-web.png) 50% 0 no-repeat;

    &__wrapper {
      display: block;
      position: relative;

      padding: 60px 0;
    }

    &--header {
      text-align: center;
    }

    &--head {
      display: inline-block;

      margin: 0;

      border-bottom: 2px dashed #c2e0f3;
      padding-bottom: 3px;
    }
  }

  .configuration {
    padding-top: 40px;

    &__browser {
      margin-top: 0;
    }
  }
}
