.webinar {
  .box-sizing;

  &__wrap {
    .wrap;
  }

  &__header {
    display: block;
    .header-bg;

    &--img {
      display: block;
      position: absolute;

      width: 100%;
      height: 424px;

      bottom: 0;
    }
  }

  &__flex {
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    &--left,
    &--right {
      display: block;
      position: relative;
      width: 500px;
    }

    &--left {
      width: 515px;
      padding-left: 15px;

      background: url(../img/webinar-video.png) no-repeat right bottom;
    }

    &--right {
      margin-right: -40px;
    }
  }

  &__text-popular {
    display: block;
    position: absolute;

    max-width: 340px;
    margin: 0;

    right: 0;
    bottom: 43px;

    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    color: #fff;
  }
}
