@import "__mixins";

.wrap { .wrap; }

.dotted-underline {
  .title-dotted;
  padding-right: 27px;
  padding-bottom: 16px;
  padding-left: 27px;
  margin-bottom: 0;

  // background: url("../img/adwords-beige-dot.png") repeat-x 0 95%;
}

.work-stages {
  &__title { text-align: center; }
}
