/* TODO: вынести в ./less/_subscription.less */
.subscription {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .wrapper {
    display: block;
    margin: 0 auto;
    width: 1200px;
  }

  .clearfix {

    &::before,
    &::after {
      content: " ";
      display: table;
    }

    &::after {
      clear: both;
    }
  }

  .header {
    &__navbar {
      padding-bottom: 10px;
    }
  }
}
