

  .yandex-course {
    padding: 60px 0 0 37px;
    &__call,
    &__from {
      font-size: 27px;
      letter-spacing: 1px;
      margin: 0 0 25px;
    }
    &__logo {
      display: block;
      width: 431px;
      height: 78px;
      font-size: 0;
      margin-bottom: 8px;
      &--img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &__feedback {
      line-height: 1.385;
      font-weight: 300;
      font-style: italic;
      font-size: 29px;
      margin-bottom: 5px;
    }
    &__by {
      font-size: 20px;
      color: rgb(137, 182, 209);
      margin-top: 0;
    }
  }

