doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Direct All-in

    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    // IE TODO: rm?
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,cyrillic")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
