.footer__navbar
  .footer__wrap
    ul
      li
        a(href="") Политика конфиденциальности
        br
        a(href="") Партнерская программа
      li
        p ИП Царевский Ф. Л.
          br
          | ОГРНИП 31377460370109
      li.social
        a(href="" target="_blank")
          i.fa.fa-youtube-square.fa-2x
        a(href="" target="_blank")
          i.fa.fa-facebook-square.fa-2x
        a(href="" target="_blank")
          i.fa.fa-twitter-square.fa-2x
        a(href="" target="_blank")
          i.fa.fa-instagram.fa-2x
        a(href="" target="_blank")
          i.fa.fa-vk.fa-2x
      li.footer__navbar-mail
        a.footer__navbar-contacts.footer__navbar-contacts--mail(href="mailto:sale@direct-all-in.ru") sale@direct-all-in.ru
      li.footer__navbar-tel
        span.footer__navbar-contacts.footer__navbar-contacts--tel 8 (499) 649-54-17

