footer.footer
  .footer__call-us
    h4.footer__call-us-title Узнайте стоимость услуг,
      br
      | которые подойдут именно Вам
    form.form(action="")
      input.form__text(type="text" placeholder="Ваше Имя")
      input.form__text(type="text" placeholder="Ваш номер телефона")
      .footer__submit
        input.btn(type="submit" value="Отправить заявку")
  nav.footer__nav
    .footer__wrap
      ul.footer__nav-item
        li
          h5 Услуги
          ul
            li
              a(href="") Цены на настройку контекстной рекламы
            li
              a(href="") Аудиты и консультации
            li
              a(href="") Настройка Яндекс.Директ
            li
              a(href="") Настройка Google Adwords
            li
              a(href="") Ведение и аналитика

        li
          h5 Обучение
          ul
            li
              a(href="") Бесплатный курс по Яндекс.Директ
            li
              a(href="") Книга Филиппа Царевского
            li
              a(href="") Индивидуальный коучинг по Яндекс.Директ
            li
              a(href="") Обучение ведению и аналитике рекламы
            li
              a(href="") Демонстрационная настройка Яндекс.Директ
            li
              a(href="") Тест на уровень знаний Яндекс.Директ

        li
          h5 Материалы
          ul
            li
              a(href="") Блог
            li
              a(href="") Кейсы
            li
              a(href="") FAQ
            li
              a(href="") Вакансии

        li
          h4 Получите бесплатный курс по
            br
            | Яндекс.Директ из 12 уроков
          p.footer__p Самый исчерпывающий и структурированный на
            br
            | рынке (по отзывам).
          form.form(action="")
            input.form__text(type="text" placeholder="Ваш E-Mail")
            .footer__submit
              input.btn(type="submit" value="Получить курс")

  .footer__navbar
    .footer__wrap
      ul
        li
          a(href="") Политика конфиденциальности
          br
          a(href="") Партнерская программа

        li
          p ИП Царевский Ф. Л.
            br
            | ОГРНИП 31377460370109

        li.social
          a(href="") yt
          a(href="") fb
          a(href="") tw
          a(href="") ig
          a(href="") vk

        li
          a.footer__navbar-contacts(href="mailto:sale@direct-all-in.ru") sale@direct-all-in.ru

        li
          span.footer__navbar-contacts 8 (499) 649-54-17
