.footer__call-us
  h4.footer__call-us-title Узнайте стоимость услуг,
    br
    | которые подойдут именно Вам
  form.form(action="")
    input.form__text.form__text--w250(type="text" placeholder="Ваше Имя")
    input.form__text.form__text--w250(type="text" placeholder="Ваш номер телефона")
    .footer__submit
      input.btn.btn--big(type="submit" value="Отправить заявку")
