.header__navbar.header__navbar--padding
  .header__wrap

    a.logo(href="/") Direct All-in

    a.header__phone(href="/callback") 8&nbsp;(499)&nbsp;649-54-17
      span.header__callback Заказать звонок
