.popup
  span.popup__close &times;
  h3.popup__header Заполните заявку,
  p.popup__text и получите экспертную оценку действующей кампании и разработку стратегии #[strong бесплатно]!

  form.form(action="", method="post")
    input(type="hidden", name="title")
    input.form__text.form__text--popup(type="text", placeholder="Ваше Имя", name="name")
    input.form__text.form__text--popup(type="text", placeholder="Ваш номер телефона", name="phone")
    input.btn.btn--main(type="submit", value="Позвонить мне")
